$primary-000:  #483477;
$primary-100:  #382bf0;
$primary-200:  #5e43f3;
$primary-300:  #7a5af5;
$primary-400:  #9171f8;
$primary-500:  #a688fa;
$primary-600:  #ba9ffb;
$primary-700:  #937bcc;
$primary-800:  #4b3188;
$primary-900:  #2e2846;
$primary-1000: #876fbd;
$primary-1100: #16151a;
$primary-1200: #483b79;
$primary-1300: #9b8add;

$surface-dark:       #100e17;
$surface-mixed-000:  #14121c;
$surface-mixed-100:  #1a1625;
$surface-mixed-200:  #2f2b3a;
$surface-mixed-300:  #46424f;
$surface-mixed-400:  #5e5a66;
$surface-mixed-500:  #76737e;
$surface-mixed-600:  #908d96;
$surface-mixed-700:  #cdcbd3;

$transparent-background: #100e177d;

$get:     #ba9ffb;
$post:    #03c988;
$put:     #6d67e4;
$patch:   #fb773c;
$delete:  #eb3678;
$dark-delete:  #d40450;

$param:   #ba9ffb;
$body:    #03c988;

$api:        #ba9ffb;
$collection: #03c988;
$schema:     #6d67e4;
$validator:  #eb3678;

$light-green:  #99ffcf;
$light-yellow: #ffefb0;
$light-grey:   #d5d5d5;
$light-purple: #cebaff;
$light-white:  #f0eeee;
$light-grey:   #d5d5d5;

$dark-green:   #00bb63;
