@import '../../styles/palette.component.scss';

.service-data-list-container {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;

    background-color: $surface-mixed-100;
    border-right: 1px solid $surface-mixed-300;
}

.service-data-list-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid $surface-mixed-300;
}

.service-data-list-header p {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.service-data {
    display: flex;
    flex-direction: row;

    align-items: center;
    
    height: 18px;

    margin: 5px;
    padding: 5px;

    border-radius: 5px;
    border: 1px solid $surface-mixed-200;

    cursor: pointer;
}

.service-data:hover {
    background-color: $surface-mixed-200;
}

.service-data p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.service-data p.action,
.service-data p.field {
    width: 35px;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.service-data p.action.get {
    color: $primary-600;
}

.service-data p.field.body {
    color: $primary-600;
}

.service-data img {
    width: 15px;
    height: 15px;

    margin-right: 5px;
}
