<div class="service-data-list-container">
    <div class="service-data-list-header">
        <p *ngIf="view.service === 'API'">Endpoints</p>
        <p *ngIf="view.service === 'Storage'">Collections</p>
        <p *ngIf="view.service === 'Validation'">Field Validators</p>
        <p *ngIf="view.service === 'Schema'">Storage Models</p>
    </div>
    <!-- API -->
    <div class="service-data-list" *ngIf="view.service === 'API'">
        <div class="service-data" [ngClass]="{ 'active': view.serviceDataId === a._id }" *ngFor="let a of api" (click)="selectServiceData(a._id)">
            <p class="action" [ngClass]="a.action">{{ a.action }}</p>
            <p>{{ a.name }}</p>
        </div>
    </div>
    <!-- Storage -->
    <div class="service-data-list" *ngIf="view.service === 'Storage'">
        <div class="service-data" [ngClass]="{ 'active': view.serviceDataId === s._id }" *ngFor="let s of storage" (click)="selectServiceData(s._id)">
            <img src="/news.png">
            <p>{{ s.name }}</p>
        </div>
    </div>
    <!-- Validation -->
    <div class="service-data-list" *ngIf="view.service === 'Validation'">
        <div class="service-data" [ngClass]="{ 'active': view.serviceDataId === v._id }" *ngFor="let v of validation" (click)="selectServiceData(v._id)">
            <p class="field" [ngClass]="v.field">{{ v.field.charAt(0).toUpperCase() + v.field.slice(1) }}</p>
            <p>{{ v.name }}</p>
        </div>
    </div>
    <!-- Schema -->
    <div class="service-data-list" *ngIf="view.service === 'Schema'">
        <div class="service-data" [ngClass]="{ 'active': view.serviceDataId === s._id }" *ngFor="let s of schema" (click)="selectServiceData(s._id)">
            <img src="/file.png">
            <p>{{ s.name }}</p>
        </div>
    </div>
</div>
