<div class="edit-schema-container">
    <div class="edit-schema">
        <div class="edit-schema-header-container">
            <div class="edit-schema-header">
                <p>Schema</p>
            </div>
            <div class="edit-schema-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-schema-label">
            <p>Name</p>
        </div>
        <div class="edit-schema-input-container">
            <div class="edit-schema-input" *ngIf="schema">
                <input type="text" placeholder="Enter schema name" [(ngModel)]="schema.name">
            </div>
        </div>
        <div class="edit-schema-label row between">
            <p>Schema</p>
        </div>
        <div class="edit-schema-editor-container">
            <div class="edit-schema-editor-row-left-container">
                <div class="edit-schema-editor-row-left">
                    <p>1</p>
                </div>
                <div class="edit-schema-editor-row-left">
                    <p>2</p>
                </div>
            </div>
            <div class="edit-schema-editor-row-right-container">
                <div class="edit-schema-editor-row-right">
                    <input type="text" value="a:" placeholder="key">
                    <input type="text" value="z.string()" placeholder="type">
                </div>
                <div class="edit-schema-editor-row-right">
                    <input type="text" value="b:" placeholder="key">
                    <input type="text" value="z.string()" placeholder="type">
                </div>
            </div>
            <div class="edit-schema-editor-row-postfix-container">
                <div class="edit-schema-editor-row-postfix">
                    <img src="/x.png">
                </div>
                <div class="edit-schema-editor-row-postfix">
                    <img src="/x.png">
                </div>
            </div>
        </div>
        <div class="edit-schema-buttons">
            <div class="edit-schema-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-schema-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-schema-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-schema-path-docs">
            <div class="edit-schema-path-doc">
                <p>Schemas are based on Zod 3.x. See the Zod documentation for details.</p>
            </div>
        </div>
    </div>
</div>
