<div class="edit-schema-container">
    <div class="edit-schema">
        <div class="edit-schema-header">
            <p>Configure Schema</p>
        </div>
        <div class="edit-schema-form-label">
            <p>Schema</p>
        </div>
        <div class="edit-schema-form">
            <div class="edit-schema-form-input">
                <input type="text" placeholder="Enter schema name">
            </div>
        </div>
        <div class="edit-schema-buttons">
            <div class="edit-schema-cancel">
                <p>Cancel</p>
            </div>
            <div class="edit-schema-save">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-schema-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-schema-path-docs">
            <div class="edit-schema-path-doc">
                <p>Schemas are based on JSON Schema 2020-12. See the JSON Schema specification for details.</p>
            </div>
        </div>
    </div>
</div>
