<div class="edit-validator-container">
    <div class="edit-validator">
        <div class="edit-validator-header-container">
            <div class="edit-validator-header">
                <p>Validator</p>
            </div>
            <div class="edit-validator-slim-button inline">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-validator-label">
            <p>Name</p>
        </div>
        <div class="edit-validator-input-container">
            <div class="edit-validator-input">
                <input type="text" placeholder="Enter validator name">
            </div>
        </div>
        <div class="edit-validator-label">
            <p>Field Selection</p>
        </div>
        <div class="edit-validator-prefix-container">
            <div class="edit-validator-prefix-select" (click)="togglePrefixDropdown()">
                <div class="edit-validator-prefix-select-button">
                    <p>Param</p>
                    <img src="/down.png">
                </div>
                <div class="edit-validator-prefix-select-dropdown" *ngIf="prefixDropdownVisible">
                    <div class="edit-validator-prefix-select-dropdown-button">
                        <p>Param</p>
                    </div>
                    <div class="edit-validator-prefix-select-dropdown-button">
                        <p>Body</p>
                    </div>
                </div>
            </div>
            <div class="edit-validator-prefix-input">
                <input type="text" placeholder="Enter field path">
            </div>
        </div>
        <div class="edit-validator-label">
            <p>Validation</p>
        </div>
        <div class="edit-validator-buttons">
            <div class="edit-validator-cancel">
                <p>Cancel</p>
            </div>
            <div class="edit-validator-save">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-validator-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-validator-path-docs">
            <div class="edit-validator-path-doc">
                <p>Field selection and validators are based on express-validator 7.x. See the express-validator documentation for details.</p>
            </div>
        </div>
    </div>
</div>
