<div class="edit-validator-container">
    <div class="edit-validator">
        <div class="edit-validator-header-container">
            <div class="edit-validator-header">
                <p>Validator</p>
            </div>
            <div class="edit-validator-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-validator-label">
            <p>Name</p>
        </div>
        <div class="edit-validator-input-container">
            <div class="edit-validator-input" *ngIf="validator">
                <input type="text" placeholder="Enter validator name" [(ngModel)]="validator.name">
            </div>
        </div>
        <div class="edit-validator-code-container">
            <div #codeEditor></div>
        </div>
        <div class="edit-validator-buttons">
            <div class="edit-validator-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-validator-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-validator-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-validator-path-docs">
            <div class="edit-validator-path-doc">
                <p>Field selection and validators are based on express-validator 7.x. See the express-validator documentation for details.</p>
            </div>
        </div>
    </div>
</div>
