<div class="code-view-outer-container">
    <div class="code-view-container">
        <div class="code-view-breadcrumb-container">
            <div class="code-view-breadcrumb" *ngIf="code">
                <p class="active">{{ code.name }}</p>
            </div>
            <div class="code-view-breadcrumb">
                <img src="/down.png" (click)="previousVersion()">
            </div>
            <div class="code-view-breadcrumb">
                <img src="/up.png" (click)="nextVersion()">
            </div>
            <div class="code-view-breadcrumb">
                <p class="active">Version {{ findVersion(editingVersionId) }}</p>
            </div>
            <div class="code-view-breadcrumb">
                <p class="detail">{{ getVersionStatus(editingVersionId) }}</p>
            </div>
            <div class="spacer"></div>
            <div class="code-view-slim-button inline" (click)="close()">
                <p>Close View</p>
            </div>
            <p class="cancel" (click)="cancel()">Cancel</p>
            <p class="save" (click)="save()">Save</p>
        </div>
        <div class="code-view-editor-container">
            <div #codeViewContainer class="code-view-editor" *ngIf="code">
                <div #codeEditor style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
