@import '../../styles/palette.component.scss';

.chat-view-container {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 100%;

    background-color: $surface-mixed-100;
    border-left: 1px solid $surface-mixed-300;
    border-right: 1px solid $surface-mixed-300;
}

.chat-view-breadcrumb-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    max-height: 30px;
    min-height: 30px;

    margin-left: 15px;
    margin-right: 15px;

    border-bottom: 1px solid $surface-mixed-200;
}

.chat-view-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-view-breadcrumb p {
    font-size: 11px;
    font-weight: 600;

    margin-left: 5px;

    color:white;
}

.chat-view-breadcrumb p.initial {
    margin-left: 0px;
    margin-right: 10px;
}

.chat-view-breadcrumb p.active {
    color: $primary-600;
}

.chat-view-breadcrumb p.detail {
    width: 100px;

    font-size: 10px;
    font-weight: 600;

    color:$light-green;
}

.chat-view-breadcrumb img {
    width: 10px;
    height: 10px;

    margin-left: 5px;
}

.chat-view-breadcrumb img.arrow {
    width: 10px;
    height: 10px;

    margin-left: 5px;
}

.chat-view-breadcrumb-container .chat-view-sidebar-icon {
    display: flex;
    margin: 0;
    padding: 0;
}

.chat-view-breadcrumb-container .chat-view-sidebar-icon img {
    width: 17px;
    height: 17px;
}

.chat-view-slim-button {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: 100%;

    margin-bottom: 1px;
    margin-left: 4px;

    cursor: pointer;
}

.chat-view-slim-button.inline {
    width: auto;

    margin-right: 20px;
}

.chat-view-slim-button.text {
    width: auto;

    margin-left: 5px;
    
    cursor: default;
}

.chat-view-slim-button p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.chat-view-slim-button.text p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-100;
}

.chat-view-actions {
    display: flex;
    flex-direction: row;

    align-items: center;

    max-height: 30px;
    min-height: 30px;

    margin-left: 15px;
    margin-right: 15px;
}

.chat-view-actions .chat-view-actions-dropdown-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    position: relative;

    cursor: pointer;
}

.chat-view-actions .chat-view-actions-dropdown-container .action-value {
    font-size: 11px;
    font-weight: 600;

    margin-left: 5px;

    color:white;
}

.chat-view-actions .chat-view-actions-dropdown-container img {
    width: 10px;
    height: 10px;

    margin-left: 5px;
    margin-right: 15px;
}

.chat-view-actions .chat-view-actions-dropdown-container img.reverse {
    margin-right: 0;
}

.chat-view-actions .chat-view-actions-dropdown-container .chat-view-actions-dropdown {
    display: flex;
    flex-direction: column;

    position: absolute;

    top: 22px;
    left: 0;

    width: 150px;
    max-height: 150px;
    overflow-y: scroll;

    background-color: $primary-600;
    border-radius: 3px;
}

.chat-view-actions .chat-view-actions-dropdown-container .chat-view-actions-dropdown.reverse {
    top: 22px;
    left: auto;
    right: 0;
}

.chat-view-actions .chat-view-actions-dropdown-container .chat-view-actions-dropdown p {
    font-size: 11px;
    font-weight: 600;

    padding: 5px 5px 5px 7px;

    color: $surface-mixed-100;
    
    cursor: pointer;
}

.chat-view-actions .chat-view-actions-dropdown-container .chat-view-actions-dropdown p:hover {
    background-color: $lighter-purple;
    border-radius: 3px;
}

.chat-view-chats {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;

    flex-grow: 1;

    overflow-y: scroll;
}

.chat-view-message-container {
    display: flex;
    flex-direction: column;

    align-items: end;

    width: 100%;
    height: auto;
}

.chat-view-message {
    display: flex;
    flex-direction: column;

    align-items: start;

    width: auto;
    height: auto;
    max-width: 85%;
}

.chat-view-message-content {
    display: flex;
    flex-direction: column;

    align-items: start;

    width: auto;
    height: auto;

    overflow-wrap: anywhere;

    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px;
    border-radius: 10px;

    background: $primary-1600;
}

.chat-view-message-content p {
    font-size: 13px;
    font-weight: 500;

    color: white;
}

::ng-deep .chat-view-response-container {
    display: flex;
    flex-direction: column;

    align-items: start;

    width: 100%;
    height: auto;
}

::ng-deep .chat-view-response {
    display: flex;
    flex-direction: column;

    align-items: start;

    width: auto;
    height: auto;

    max-width: 98%;
}

::ng-deep .chat-view-response-content {
    display: flex;
    flex-direction: column;

    align-items: start;

    width: auto;
    height: auto;

    overflow-wrap: anywhere;

    margin-left: 10px;

    padding: 10px;
}

::ng-deep .chat-view-response-content p {
    font-size: 13px;
    font-weight: 500;

    color: white;
}

::ng-deep .chat-view-response-content h1,
::ng-deep .chat-view-response-content h2,
::ng-deep .chat-view-response-content h3,
::ng-deep .chat-view-response-content h4,
::ng-deep .chat-view-response-content h5,
::ng-deep .chat-view-response-content h6 {
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-style: normal;

    color: white;
}

::ng-deep .chat-view-response-content ol,
::ng-deep .chat-view-response-content ul {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

::ng-deep .chat-view-response-content code {
    font-size: 13px;
    font-weight: 700;
    background-color: $surface-dark;

    color: white;
    
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

::ng-deep .chat-view-response-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow-x: auto;
    
    width: 100%;

    background-color: $surface-dark;
}

::ng-deep .chat-view-response-content pre code {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;

    color: white;
}

.chat-view-response-code-container {
    display: flex;
    flex-direction: row;

    align-items: start;

    width: 100%;
    height: auto;
}

.chat-view-response-code {
    display: flex;
    flex-direction: row;

    align-items: start;

    width: 100%;
    height: auto;

    margin: 5px auto;

    max-width: 98%;
}

.chat-view-response-code-content {
    display: flex;
    flex-direction: row;

    align-items: start;

    height: auto;

    overflow-wrap: anywhere;

    margin-left: 10px;
    margin-right: 10px;

    padding: 5px 10px;

    flex-grow: 1;

    border-radius: 5px;
    background-color: $surface-dark;
}

.chat-view-response-code-content pre {
    font-size: 12px;
    font-weight: 500;

    margin: 5px 0;

    color: white;

    white-space: pre-wrap;
    max-width: 100%;
    word-break: break-word;
}

.chat-view-response-alert-container {
    display: flex;
    flex-direction: row;

    align-items: start;

    width: 100%;
    height: auto;
}

.chat-view-response-alert {
    display: flex;
    flex-direction: row;

    align-items: start;

    width: 100%;
    height: auto;

    margin: 5px auto;

    max-width: 98%;
}

.chat-view-response-alert-content {
    display: flex;
    flex-direction: row;

    align-items: start;

    height: auto;

    overflow-wrap: anywhere;

    margin-left: 10px;
    margin-right: 10px;

    padding: 5px 10px;

    flex-grow: 1;

    border-radius: 5px;
    background-color: $surface-dark;
}

.chat-view-response-alert-content p {
    font-size: 12px;
    font-weight: 600;

    margin: 5px 0;

    color: white;
}

.chat-view-landing-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 0 15px;

    flex-grow: 1;
    height: 100%;

    background-color: $surface-mixed-100;
}

.chat-view-landing-container .chat-view-landing {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    flex-grow: 1;
    height: 100%;

    max-width: 1400px;
}

.chat-view-landing-container .chat-view-landing p {
    font-size: 15px;
    font-weight: 400;

    text-align: center;

    color: $primary-700;
}

.chat-view-landing-container .chat-view-landing span {
    font-weight: 700;
}

.chat-view-landing-container .chat-view-landing img {
    width: 55px;
    height: 55px;

    margin-bottom: 25px;
}

.chat-view-token-container {
    display: flex;
    flex-direction: row;

    justify-content: center;

    cursor: pointer;
}

.chat-view-token-container .chat-view-token {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 3px 0;
}

.chat-view-token-container .chat-view-token p {
    font-size: 11px;
    font-weight: 600;

    margin-right: 10px;

    color:white;
}

.chat-view-footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    min-height: 50px;

    padding-top: 15px;
    padding-bottom: 15px;

    background: $surface-dark;
    border-radius: 0;
}

.chat-view-footer-toolbar {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 90%;
    height: auto;
    min-height: 45px;

    background: $surface-mixed-100;
    border-radius: 10px;
}

.chat-view-footer-input {
    flex-grow: 1;

    height: auto;

    margin-left: 10px;
    margin-right: 10px;
}

.chat-view-footer-input textarea {
    width: 100%;
    height: 18px;

    font-size: 13px;

    border: none;
    background: transparent;
    resize: none;

    max-height: 200px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: white;
}

.chat-view-footer-input textarea:focus-visible {
    border: none;
    outline: none;
}

.chat-view-footer-send {
    margin-right: 15px;
    margin-top: 5px;

    cursor: pointer;
}

.chat-view-footer-send img {
    width: 20px;
    height: 20px;
}

.spacer {
    flex-grow: 1;
}

.chat-view-resize-bar {
    width: 2px;
    height: 100%;
    border: 1px solid black;
    cursor: ew-resize;
}

::ng-deep .hljs-keyword {
    font-size: 13px;
    font-weight: 700;

    color: $primary-600;
}

::ng-deep .hljs-string {
    font-size: 13px;
    font-weight: 700;

    color: $peach;
}

::ng-deep .hljs-title.function_ {
    font-size: 13px;
    font-weight: 700;

    color: $light-green;
}

::ng-deep .hljs-comment {
    font-size: 13px;
    font-weight: 500;

    color: $surface-mixed-900;
}

::ng-deep .hljs-comment {
    font-size: 13px;
    font-weight: 500;

    color: $surface-mixed-900;
}

::ng-deep .hljs-variable.language_ {
    font-size: 13px;
    font-weight: 700;

    color: $mustard;
}

::ng-deep .hljs-number {
    font-size: 13px;
    font-weight: 700;

    color: $light-purple;
}







