<div class="chat-view-container" [ngStyle]="{ width: sidebarWidth }">
    <div class="chat-view-breadcrumb-container">
        <div class="chat-view-breadcrumb" *ngIf="sidebarView">
            <p class="initial">Chat</p>
            <!-- <img src="/right.png" class="arrow" *ngIf="!categoryView"> -->
        </div>
        <!-- <div class="chat-view-breadcrumb" *ngIf="sidebarView">
            <p class="active">{{ category }}</p>
        </div> -->
        <div class="spacer"></div>
        <div class="chat-view-sidebar-icon">
            <img class="active" src="/sidebar-right-active.png" (click)="toggleSidebar()">
        </div>
    </div>
</div>
