<div class="edit-queue-container">
    <div class="edit-queue">
        <div class="edit-queue-header-container">
            <div class="edit-queue-header">
                <p>Queue</p>
            </div>
            <div class="edit-queue-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-queue-label">
            <p>Name</p>
        </div>
        <div class="edit-queue-input-container">
            <div class="edit-queue-input" *ngIf="queue">
                <input type="text" placeholder="Enter queue name" [(ngModel)]="queue.name">
            </div>
        </div>
        <div class="edit-queue-label">
            <p>Queue name can have up to 80 characters, is case sensitive and may only contain alphanumeric characters and underscores (_).</p>
        </div>
        <div class="edit-queue-label">
            <p>Settings</p>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Delay Seconds</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>0 seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Maximum Messages</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>1 message</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Maximum Message Size</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>246 KiB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Message Retention Period</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>4 Days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Receive Message Wait Period</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>20 seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Visibility Timeout</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>30 seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-tab-detail-container">
            <div class="edit-queue-tab-detail-group">
                <div class="edit-queue-tab-detail">
                    <p>Content Based Deduplication</p>
                </div>
                <div class="edit-queue-select-container">
                    <div class="edit-queue-select">
                        <div class="edit-queue-select-button">
                            <p>Yes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-queue-buttons">
            <div class="edit-queue-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-queue-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-queue-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-queue-path-docs">
            <div class="edit-queue-path-doc">
                <p>Queues and messages are only processed when the deployment is online. Stopping a deployment may interrupt existing message transactions and will prevent new messages from being received.</p>
                <br>
                <p>Stored messages will not be deleted, regardless of the deployment status, as long as they exist within the Message Retention Period.</p>
            </div>
        </div>
    </div>
</div>
