<div class="api-view-outer-container">
    <div class="api-view-container">
        <div class="api-view-breadcrumb-container">
            <div class="api-view-breadcrumb">
                <p class="initial">API View</p>
                <img src="/right.png">
            </div>
            <div class="api-view-breadcrumb">
                <p class="active">/commits</p>
            </div>
        </div>
        <div class="api-view-header">
            <p>Commits</p>
            <p>/commits</p>
        </div>
        <div class="api-view-editor-container">
            <div class="api-view-editor">
                <div class="api-view-editor-row">
                    <div class="api-view-editor-row-prefix">
                        <p>1</p>
                    </div>
                    <div class="api-view-editor-row-input">
                        <p>2</p>
                    </div>
                </div>
                <div class="api-view-editor-row">
                    <div class="api-view-editor-row-prefix">
                        <p>1</p>
                    </div>
                    <div class="api-view-editor-row-input">
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
