@import '../../styles/palette.component.scss';

.api-view-outer-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 0 15px;

    flex-grow: 1;
    height: 100%;

    background-color: $surface-mixed-100;
}

.api-view-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    height: 100%;

    max-width: 1400px;
}

.api-view-breadcrumb-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 30px;

    margin-left: 15px;
    margin-right: 15px;

    border-bottom: 1px solid $surface-mixed-200;
}

.api-view-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.api-view-breadcrumb p {
    font-size: 11px;
    font-weight: 600;

    margin-left: 15px;

    color:white;

    cursor: pointer;
}

.api-view-breadcrumb input {
    font-size: 11px;
    font-weight: 600;
    color: white;

    width: 100px;
    height: 15px;

    padding: 0 4px;
    margin: 0;
    margin-left: 15px;

    background-color: $surface-mixed-100;
    border: 1px solid $primary-600;
}

.api-view-breadcrumb input:focus-visible {
    outline: none;
}

.api-view-breadcrumb p.initial {
    margin-left: 0px;
}

.api-view-breadcrumb p.active,
.api-view-breadcrumb p:hover {
    color: $primary-600;

    cursor: pointer;
}

.api-view-breadcrumb img {
    width: 10px;
    height: 10px;

    margin-left: 15px;
}

.api-view-breadcrumb-container .spacer {
    display: flex;
    flex-grow: 1;
}

.api-view-breadcrumb-container .cancel {
    font-size: 11px;
    font-weight:700;

    width: 45px;
    text-align: center;
    
    margin-left: 15px;
    padding: 0 10px;

    color: #eae1ff;

    border: 1px solid #eae1ff;
    border-radius: 10px;

    cursor: pointer;
}

.api-view-breadcrumb-container .save {
    font-size: 11px;
    font-weight:700;

    width: 45px;
    text-align: center;
    
    margin-left: 15px;
    padding: 0 10px;

    color: $primary-600;

    border: 1px solid $primary-600;
    border-radius: 10px;

    cursor: pointer;
}

.api-view-slim-button {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: 100%;

    margin-bottom: 1px;
    margin-left: 25px;

    cursor: pointer;
}

.api-view-slim-button.inline {
    width: auto;
}

.api-view-slim-button.text {
    width: auto;

    margin-left: 5px;
    
    cursor: default;
}

.api-view-slim-button p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.api-view-slim-button.text p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-100;
}

.api-view-editor-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    margin-left: 15px;
    margin-right: 15px;

    flex-grow: 1;
}

.api-view-editor {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.api-view-editor-row {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: auto;
}

.api-view-editor-row-prefix {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 45px;

    padding: 2px 5px;

    background-color: $surface-mixed-200;

    cursor: default;
}

.api-view-editor-row-prefix p {
    font-size: 11px;
    font-weight: 600;

    color: $surface-mixed-500;
}

.api-view-editor-row-prefix p.visible {
    color: white;
}

.api-view-editor-row:hover .api-view-editor-row-prefix p {
    color: white;
}

.api-view-editor-row-app {
    display: flex;
    flex-direction: column;

    width: 100px;

    align-items: start;

    padding: 2px 20px 2px 10px;
}

.api-view-editor-row-app p {
    font-size: 11px;
    font-weight: 600;

    color: $light-green;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.api-view-editor-row-variable {
    display: flex;
    flex-direction: row;

    padding: 2px 0;
}

.api-view-editor-row-variable input {
    font-size: 11px;
    font-weight: 600;
    color: white;

    width: 87px;
    height: 15px;

    padding: 0;
    margin: 0;

    background-color: $surface-mixed-100;
    border: none;
}

.api-view-editor-row-variable input:focus-visible {
    outline: none;
}

.api-view-editor-row-equals {
    display: flex;
    flex-direction: row;

    padding: 2px 20px;
}

.api-view-editor-row-equals p {
    font-size: 11px;
    font-weight: 600;

    color: white;
}

.api-view-editor-row-command-open {
    display: flex;
    flex-direction: row;

    padding: 2px 0;
}

.api-view-editor-row-command-open p {
    font-size: 11px;
    font-weight: 600;

    color: $primary-600;
}

.api-view-editor-row-command-close {
    display: flex;
    flex-direction: row;

    padding: 2px 0;
}

.api-view-editor-row-command-close p {
    font-size: 11px;
    font-weight: 600;

    color: $primary-600;
}

.api-view-editor-row-args {
    display: flex;
    flex-direction: row;

    padding: 2px 0;
}

.api-view-editor-row-args input {
    font-size: 11px;
    font-weight: 600;
    color: white;

    width: 60px;
    height: 15px;

    padding: 0;
    margin: 0;

    background-color: $surface-mixed-100;
    border: none;
}

.api-view-editor-row-args input:focus-visible {
    outline: none;
}

.api-view-editor-row-spacer {
    display: flex;

    flex-grow: 1;
}

.api-view-editor-row-detail {
    display: flex;
    flex-direction: row;

    padding: 2px 0;

    border-top: 1px solid $surface-mixed-100;
    border-bottom: 1px solid $surface-mixed-100;
}

.api-view-editor-row-detail p {
    font-size: 11px;
    font-weight: 600;

    color: $light-purple;
}

.api-view-editor-row-remove {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 15px;

    padding: 2px 10px;

    cursor: pointer;
}

.api-view-editor-row-remove img {
    width: 11px;
    height: 10px;

    visibility: hidden;
}

.api-view-editor-row-remove:hover img {
    visibility: visible;
}

.api-view-hidden {
    display: flex;
    flex-direction: column;

    visibility: hidden;
}

.api-view-hidden-rows {
    display: flex;
    flex-direction: column;
}

.api-view-hidden-rows span {
    font-size: 11px;
    font-weight: 600;

    position: absolute;
    white-space: pre;

    color: white;

    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-optical-sizing: auto;
}
