<div class="api-view-outer-container">
    <div class="api-view-container">
        <div class="api-view-breadcrumb-container">
            <div class="api-view-breadcrumb" *ngIf="workflow">
                <p class="active">{{ workflow.name }}</p>
            </div>
            <div class="api-view-slim-button inline" (click)="addRow()">
                <p>Add blank row</p>
            </div>
            <div class="api-view-slim-button text">
                <p>or select an App</p>
            </div>
            <div class="spacer"></div>
            <div class="api-view-slim-button inline" (click)="close()">
                <p>Close View</p>
            </div>
            <p class="cancel" (click)="cancel()">Cancel</p>
            <p class="save" (click)="save()">Save</p>
        </div>
        <div class="api-view-editor-container">
            <div class="api-view-editor" *ngIf="workflow">
                <div class="api-view-editor-row" *ngFor="let row of workflow.rows; index as index" (click)="selectRow(row._id)">
                    <!-- App Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'app'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-variable">
                            <ng-content *ngFor="let variable of row.variables">
                                <input #rowInputs [id]="variable._id" type="text" [placeholder]="variable.placeholder" [(ngModel)]="variable.value" (input)="adjustInputWidth(variable._id, variable.placeholderWidth, variable.argtypes, variable.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ variable.value }}</span>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-equals">
                            <p>=</p>
                        </div>
                        <div class="api-view-editor-row-command-open">
                            <p>{{ findAppName(row.appId) }}(</p>
                        </div>
                        <div class="api-view-editor-row-args">
                            <ng-content *ngFor="let arg of row.args; index as argsIndex">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>

                                <div class="api-view-editor-row-args-comma" *ngIf="row.args && row.args.length > 1 && argsIndex < row.args.length - 1">
                                    <p>,</p>
                                </div>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-return">
                            <p>)</p>
                            <p>&nbsp;=>&nbsp;</p>
                            <ng-content *ngFor="let rtrn of row.returns">
                                <input #rowInputs [id]="rtrn._id" type="text" [placeholder]="rtrn.placeholder" [(ngModel)]="rtrn.value" (input)="adjustInputWidth(rtrn._id, rtrn.placeholderWidth, rtrn.argtypes, rtrn.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ rtrn.value }}</span>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-schema">
                            <p>:&nbsp;</p>
                            <ng-content *ngFor="let schema of row.schemas">
                                <input #rowInputs [id]="schema._id" type="text" [placeholder]="schema.placeholder" [(ngModel)]="schema.value" (input)="adjustInputWidth(schema._id, schema.placeholderWidth, schema.argtypes, schema.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ schema.value }}</span>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editworkflowsor-row-detail">
                            <p></p>
                        </div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- Comment Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'comment'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-comment-prefix">
                            <p>//</p>
                        </div>
                        <div class="api-view-editor-row-comment">
                            <ng-content *ngFor="let arg of row.args">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- Print Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'print'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-command-open basic">
                            <p>{{ findAppName(row.appId) }}(</p>
                        </div>
                        <div class="api-view-editor-row-args">
                            <ng-content *ngFor="let arg of row.args; index as argsIndex">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>

                                <div class="api-view-editor-row-args-comma" *ngIf="row.args && row.args.length > 1 && argsIndex < row.args.length - 1">
                                    <p>,</p>
                                </div>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-command-close">
                            <p>)</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editworkflowsor-row-detail">
                            <p></p>
                        </div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- If Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'if'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-if">
                            <p>if (</p>
                        </div>
                        <div class="api-view-editor-row-if-conditionals">
                            <ng-content *ngFor="let arg of row.args">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-if-end">
                            <p>) &#123;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- If Close Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'ifClose'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-if-close">
                            <p>&#125;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- If Else Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'ifElse'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-if-else">
                            <p>if (</p>
                        </div>
                        <div class="api-view-editor-row-if-conditionals">
                            <ng-content *ngFor="let arg of row.args">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </ng-content>
                        </div>
                        <div class="api-view-editor-row-if-else-end">
                            <p>) &#123;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- If Else Middle Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'ifElseMiddle'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-if-else">
                            <p>&#125; else &#123;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- If Else Close Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'ifElseClose'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-if-else-close">
                            <p>&#125;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- For Array Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'forArray'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-forarray">
                            <p>forArray (</p>
                        </div>
                        <ng-content *ngFor="let arg of row.args; index as forArrayIndex">
                            <div class="api-view-editor-row-forarray-variable" *ngIf="forArrayIndex == 0">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </div>
                            <div class="api-view-editor-row-forarray-of" *ngIf="forArrayIndex == 0">
                                <p>of</p>
                            </div>
                            <div class="api-view-editor-row-forarray-args" *ngIf="forArrayIndex == 1">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </div>
                            <div class="api-view-editor-row-forarray-separator" *ngIf="forArrayIndex == 1">
                                <p>;</p>
                            </div>
                            <div class="api-view-editor-row-forarray-key" *ngIf="forArrayIndex == 2">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </div>
                        </ng-content>
                        <div class="api-view-editor-row-forarray-end">
                            <p>) &#123;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- For Array Close Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'forArrayClose'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-forarray-close">
                            <p>&#125;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- For Object Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'forObject'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-forobject">
                            <p>forObject (</p>
                        </div>
                        <ng-content *ngFor="let arg of row.args; index as forObjectIndex">
                            <div class="api-view-editor-row-forobject-variable" *ngIf="forObjectIndex == 0">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </div>
                            <div class="api-view-editor-row-forobject-of" *ngIf="forObjectIndex == 0">
                                <p>of</p>
                            </div>
                            <div class="api-view-editor-row-forobject-args" *ngIf="forObjectIndex == 1">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </div>
                            <div class="api-view-editor-row-forobject-separator" *ngIf="forObjectIndex == 1">
                                <p>;</p>
                            </div>
                            <div class="api-view-editor-row-forobject-key" *ngIf="forObjectIndex == 2">
                                <input #rowInputs [id]="arg._id" type="text" [placeholder]="arg.placeholder" [(ngModel)]="arg.value" (input)="adjustInputWidth(arg._id, arg.placeholderWidth, arg.argtypes, arg.value)">
                                <span #rowSpans class="api-view-hidden-row-span">{{ arg.value }}</span>
                            </div>
                        </ng-content>
                        <div class="api-view-editor-row-forobject-end">
                            <p>) &#123;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- For Object Close Row -->
                    <ng-content *ngIf="row.appId && rowType(row) === 'forObjectClose'">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-forobject-close">
                            <p>&#125;</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                    <!-- Blank Row -->
                    <ng-content *ngIf="!row.appId">
                        <div class="api-view-editor-row-prefix" [style.marginRight]="(row.indents * 25) + 'px'">
                            <p [ngClass]="{ 'active': selectedRowId === row._id }">{{ index + 1 }}</p>
                        </div>
                        <div class="api-view-editor-row-spacer"></div>
                        <div class="api-view-editor-row-remove" (click)="removeRow(row)">
                            <img src="/x.png">
                        </div>
                    </ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
