<div class="api-view-outer-container">
    <div class="api-view-container">
        <div class="api-view-breadcrumb-container">
            <div class="api-view-breadcrumb">
                <p class="initial">API Workflow</p>
                <img src="/right.png">
            </div>
            <div class="api-view-breadcrumb" *ngIf="workflow">
                <p class="active">{{ workflow.name }}</p>
            </div>
            <div class="api-view-slim-button inline">
                <p>Add blank row</p>
            </div>
            <div class="spacer"></div>
            <p class="cancel">Cancel</p>
            <p class="save">Save</p>
        </div>
        <div class="api-view-editor-container">
            <div class="api-view-editor" *ngIf="workflow">
                <div class="api-view-editor-row" *ngFor="let row of workflow.rows; index as index">
                    <div class="api-view-editor-row-prefix">
                        <p>{{ index + 1 }}</p>
                    </div>
                    <div class="api-view-editor-row-app">
                        <p>Storage.create</p>
                    </div>
                    <div class="api-view-editor-row-variable">
                        <input type="text" value="storeDoc">
                    </div>
                    <div class="api-view-editor-row-equals">
                        <p>=</p>
                    </div>
                    <div class="api-view-editor-row-command-open">
                        <p>Storage.create(</p>
                    </div>
                    <div class="api-view-editor-row-args">
                        <input type="text" value="document">
                    </div>
                    <div class="api-view-editor-row-command-close">
                        <p>)</p>
                    </div>
                    <div class="api-view-editor-row-spacer"></div>
                    <div class="api-view-editworkflowsor-row-detail">
                        <p></p>
                    </div>
                    <div class="api-view-editor-row-remove">
                        <img src="/x.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
