<div class="edit-api-container">
    <div class="edit-api">
        <div class="edit-api-header-container">
            <div class="edit-api-header">
                <p>Endpoint</p>
            </div>
            <div class="edit-api-slim-button inline">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-api-label">
            <p>Name</p>
        </div>
        <div class="edit-api-input-container">
            <div class="edit-api-input" *ngIf="api">
                <input type="text" placeholder="Enter API name" [(ngModel)]="api.name">
            </div>
        </div>
        <div class="edit-api-label">
            <p>Endpoint</p>
        </div>
        <div class="edit-api-prefix-container">
            <div class="edit-api-prefix-select" (click)="togglePrefixDropdown()">
                <div class="edit-api-prefix-select-button" *ngIf="api">
                    <p>{{ api.action | uppercase }}</p>
                    <img src="/down.png">
                </div>
                <div class="edit-api-prefix-select-dropdown" *ngIf="prefixDropdown">
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('get')">
                        <p>{{ 'get' | uppercase }}</p>
                    </div>
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('post')">
                        <p>{{ 'post' | uppercase }}</p>
                    </div>
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('put')">
                        <p>{{ 'put' | uppercase }}</p>
                    </div>
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('delete')">
                        <p>{{ 'delete' | uppercase }}</p>
                    </div>
                </div>
            </div>
            <div class="edit-api-prefix-input" *ngIf="api">
                <input type="text" placeholder="/resource/:resource-id" [(ngModel)]="api.url">
            </div>
        </div>
        <div class="edit-api-buttons">
            <div class="edit-api-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-api-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-api-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-api-path-docs">
            <div class="edit-api-path-doc">
                <p>Route path and parameter matching are based on Express 4.x. See the Express routing guide for details.</p>
            </div>
        </div>
    </div>
</div>
