<div class="edit-api-container">
    <div class="edit-api">
        <div class="edit-api-header">
            <p>Configure API</p>
        </div>
        <div class="edit-api-form">
            <div class="edit-api-form-select">
                <div class="edit-api-form-select-button">
                    <p>GET</p>
                    <img src="/down.png">
                </div>
            </div>
            <div class="edit-api-form-input">
                <input type="text" placeholder="/resource/:resource-id">
            </div>
        </div>
        <div class="edit-api-actions">
            <div class="edit-api-cancel">
                <p>Cancel</p>
            </div>
            <div class="edit-api-save">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-api-divider">
            <div class="divider"></div>
        </div>
    </div>
</div>
