<div class="edit-api-container">
    <div class="edit-api">
        <div class="edit-api-header-container">
            <div class="edit-api-header">
                <p>API</p>
            </div>
            <div class="edit-api-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-api-label">
            <p>Name</p>
        </div>
        <div class="edit-api-input-container">
            <div class="edit-api-input" *ngIf="api">
                <input type="text" placeholder="Enter API name" [(ngModel)]="api.name">
            </div>
        </div>
        <div class="edit-api-label">
            <p>API name can have up to 80 characters, may only contain alphanumeric characters and underscores (_), is case sensitive and must be unique.</p>
        </div>
        <div class="edit-api-label">
            <p>Endpoint</p>
        </div>
        <div class="edit-api-prefix-container">
            <div class="edit-api-prefix-select" (click)="togglePrefixDropdown()">
                <div class="edit-api-prefix-select-button" *ngIf="api">
                    <p>{{ api.action | uppercase }}</p>
                    <img src="/down.png">
                </div>
                <div class="edit-api-prefix-select-dropdown" *ngIf="prefixDropdown && api">
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('get')">
                        <p>{{ 'get' | uppercase }}</p>
                    </div>
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('post')">
                        <p>{{ 'post' | uppercase }}</p>
                    </div>
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('put')">
                        <p>{{ 'put' | uppercase }}</p>
                    </div>
                    <div class="edit-api-prefix-select-dropdown-button" (click)="selectAction('delete')">
                        <p>{{ 'delete' | uppercase }}</p>
                    </div>
                </div>
            </div>
            <div class="edit-api-prefix-input" *ngIf="api">
                <input type="text" placeholder="/resource/:resource-id" [(ngModel)]="api.url">
            </div>
        </div>
        <div class="edit-api-label">
            <p>Validators</p>
        </div>
        <div class="edit-api-select-container">
            <div class="edit-api-select" (click)="toggleDropdown()">
                <div class="edit-api-select-button">
                    <p>Select Validators</p>
                    <img src="/down.png">
                </div>
                <div class="edit-api-select-dropdown" *ngIf="dropdown && api">
                    <div class="edit-api-select-dropdown-button" *ngFor="let v of validators" (click)="selectValidator(v._id)">
                        <p>{{ v.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-api-list-item-container" *ngIf="api && api.validators && api.validators.length">
            <div class="edit-api-list-item" *ngFor="let v of api.validators" (click)="removeValidator(v)">
                <img class="check" src="/check.png">
                <img class="x" src="/x.png">
                <p>{{ findValidator(v) }}</p>
            </div>
        </div>
        <div class="edit-api-label">
            <p>Workflow</p>
        </div>
        <div class="edit-api-select-container" *ngIf="api && !api.workflowId">
            <div class="edit-api-select" (click)="toggleWorkflowDropdown()">
                <div class="edit-api-select-button">
                    <p>Select Workflow</p>
                    <img src="/down.png">
                </div>
                <div class="edit-api-select-dropdown" *ngIf="workflowDropdown && workflows">
                    <div class="edit-api-select-dropdown-button" *ngFor="let w of workflows" (click)="selectWorkflow(w._id)">
                        <p>{{ w.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-api-list-item-container" *ngIf="api && api.workflowId">
            <div class="edit-api-list-item" (click)="removeWorkflow()">
                <img class="check" src="/check.png">
                <img class="x" src="/x.png">
                <p>{{ findWorkflow(api.workflowId) }}</p>
            </div>
        </div>
        <div class="edit-api-buttons">
            <div class="edit-api-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-api-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-api-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-api-path-docs">
            <div class="edit-api-path-doc">
                <p>Route path and parameter matching are based on Express 4.x. See the Express routing guide for details.</p>
                <br>
                <p>Field selection and validators are based on express-validator 7.x. See the express-validator documentation for details.</p>
                <br>
                <p>Routes that begin with /auth are restricted to internal use.</p>
            </div>
        </div>
    </div>
</div>
