<div class="edit-websocket-container">
    <div class="edit-websocket">
        <div class="edit-websocket-header-container">
            <div class="edit-websocket-header">
                <p>WebSocket</p>
            </div>
            <div class="edit-websocket-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-websocket-label">
            <p>Name</p>
        </div>
        <div class="edit-websocket-input-container">
            <div class="edit-websocket-input" *ngIf="websocket">
                <input type="text" placeholder="Enter websocket name" [(ngModel)]="websocket.name">
            </div>
        </div>
        <div class="edit-websocket-label">
            <p>WebSocket name can have up to 80 characters, may only contain alphanumeric characters and underscores (_), is case sensitive and must be unique.</p>
        </div>
        <div class="edit-websocket-label">
            <p>WebSocket messages are exchanged using a WebSocket schema (below). The schema is required when sending messages to the server and should be expected when receiving messages in your client application.</p>
        </div>
        <div class="edit-websocket-pre">
            <pre>{{ websocketSchema }}</pre>
        </div>
        <div class="edit-websocket-buttons">
            <div class="edit-websocket-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-websocket-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-websocket-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-websocket-path-docs">
            <div class="edit-websocket-path-doc">
                <p>WebSockets are based on the latest JavaScript WebSocket API. See the MDN WebSocket API docs for details.</p>
                <br>
                <p>WebSocket messages are only processed when the deployment is online. Stopping a deployment may interrupt existing messages and will prevent new messages from being exchanged.</p>
            </div>
        </div>
    </div>
</div>
