@import '../../styles/palette.component.scss';

.storage-view-outer-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 0 15px;

    flex-grow: 1;
    height: 100%;

    background-color: $surface-mixed-100;
}

.storage-view-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    height: 100%;

    max-width: 1550px;
}

.storage-view-breadcrumb-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 30px;

    margin-left: 15px;
    margin-right: 15px;

    border-bottom: 1px solid $surface-mixed-200;
}

.storage-view-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.storage-view-breadcrumb p {
    font-size: 11px;
    font-weight: 600;

    color:white;
}

.storage-view-breadcrumb p.active,
.storage-view-breadcrumb p:hover {
    color: $primary-600;
}

.storage-view-breadcrumb img {
    width: 10px;
    height: 10px;

    margin-left: 15px;
}

.storage-view-breadcrumb-container .spacer {
    display: flex;
    flex-grow: 1;
}

.storage-view-add-document-container {
    position: relative;
}

.storage-view-add-document-container .add {
    font-size: 11px;
    font-weight:700;

    width: 85px;
    text-align: center;
    
    padding: 0 10px;

    color: $primary-600;

    border: 1px solid $primary-600;
    border-radius: 10px;

    cursor: pointer;
}

.storage-view-add-document-code-container {
    width: 100%;
    height: 200px;

    overflow-y: scroll;
}

.storage-view-add-document-dropdown {
    display: flex;
    flex-direction: column;

    align-items: end;

    width: 300px;

    top: 20px;
    right: 0;
    position: absolute;

    padding: 5px;

    background-color: $surface-dark;
    border: 1px solid black;

    z-index: 2;
}

.storage-view-add-document-dropdown p.cancel {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: auto;

    margin-right: 15px;

    cursor: pointer;

    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.storage-view-add-document-dropdown p.save {
    font-size: 11px;
    font-weight:700;

    width: 45px;
    text-align: center;
    
    padding: 0 10px;

    color: $primary-600;

    border: 1px solid $primary-600;
    border-radius: 10px;

    cursor: pointer;
}

.storage-view-add-document-actions {
    display: flex;
    flex-direction: row;
}

.storage-view-slim-button {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: 100%;

    margin-bottom: 1px;
    margin-left: 25px;

    cursor: pointer;
}

.storage-view-slim-button.inline {
    width: auto;
    margin-right: 15px;
}

.storage-view-slim-button.text {
    width: auto;

    margin-left: 5px;
    
    cursor: default;
}

.storage-view-slim-button p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.storage-view-slim-button.text p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-100;
}

.storage-view-header {
    display: flex;
    flex-direction: column;

    align-content: start;

    height: 75px;
}

.storage-view-header p:nth-child(1) {
    font-size: 25px;
    font-weight: 600;

    margin-left: 15px;
    margin-top: 15px;

    color: white;
}

.storage-view-header p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;

    margin-left: 15px;
    margin-top: 15px;

    color: white;
}

.storage-view-table-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    margin-left: 15px;
    margin-right: 15px;
}

.storage-view-table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid $dark-blue;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

tbody tr {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: $primary-1500;
}

tbody tr:hover {
    background-color: $primary-1600;
}

tbody tr.active {
    background-color: $primary-1600;
}

.storage-view-table-header {
    font-size: 11px;
    font-weight: 800;

    color: white;
}

.storage-view-table-data {
    font-size: 11px;
    font-weight: 800;

    color: white;
}

.storage-view-table-row > th:nth-child(1) {
    width: 152px;
}

.storage-view-table-row > th:nth-child(2) {
    width: 152px;
}
