<div class="storage-view-outer-container">
    <div class="storage-view-container">
        <div class="storage-view-breadcrumb-container">
            <div class="storage-view-breadcrumb">
                <p class="initial">Storage</p>
                <img src="/right.png">
            </div>
            <div class="storage-view-breadcrumb" *ngIf="storage">
                <p class="active">{{ storage.name }}</p>
            </div>
            <div class="storage-view-slim-button inline" (click)="close()">
                <p>Close View</p>
            </div>
        </div>
        <div class="storage-view-header" *ngIf="storage">
            <p>{{ storage.name }}</p>
        </div>
        <div class="storage-view-table-container">
            <!-- Table header -->
            <div class="storage-view-table-row">
                <div class="storage-view-table-column" *ngFor="let header of headers">
                    <div class="storage-view-table-header">
                        <p>{{ header.value }}</p>
                    </div>
                </div>
            </div>
            <!-- Table Rows -->
            <div class="storage-view-table-row table-row" *ngFor="let document of documentsParsed" (click)="editDocument(document)">
                <div class="storage-view-table-column" *ngFor="let header of headers">
                    <div class="storage-view-table-data">
                        <p>{{ cellValue(document, header.key) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
