<div class="storage-view-outer-container">
    <div class="storage-view-container">
        <div class="storage-view-breadcrumb-container">
            <div class="storage-view-breadcrumb" *ngIf="storage">
                <p class="active">{{ storage.name }}</p>
            </div>
            <div class="spacer"></div>
            <div class="storage-view-slim-button inline" (click)="close()">
                <p>Close View</p>
            </div>
            <div class="storage-view-add-document-container">
                <p class="add" (click)="toggleAddDocumentDropdown()">Add Document</p>
                <div class="storage-view-add-document-dropdown" *ngIf="addDocumentDropdown">
                    <div class="storage-view-add-document-code-container">
                        <div #jsonEditor></div>
                    </div>
                    <div class="storage-view-add-document-actions">
                        <p class="cancel" (click)="toggleAddDocumentDropdown()">Close</p>
                        <p class="save" (click)="addDocument()">Save</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="storage-view-search-container">
            <div class="storage-view-search">
                <input type="text" placeholder="Search Documents" [(ngModel)]="searchQuery" (input)="resetPage()">
            </div>
            <p>{{ filteredDocuments.length }} documents</p>
        </div>
        <div class="storage-view-table-container">
            <table>
                <thead>
                    <tr class="storage-view-table-row">
                        <ng-content *ngFor="let header of headers">
                            <th class="storage-view-table-header" style="width: 152px;" *ngIf="header.value === '_id'">
                                {{ header.value }}
                            </th>
                            <th class="storage-view-table-header" style="width: 152px;" *ngIf="header.value === 'Date'">
                                {{ header.value }}
                            </th>
                            <th class="storage-view-table-header" style="width: 100%;" *ngIf="header.value !== '_id' && header.value !== 'Date'">
                                {{ header.value }}
                            </th>
                        </ng-content>
                    </tr>
                </thead>
                <tbody>
                    <tr class="storage-view-table-row" *ngFor="let document of paginatedDocuments" (click)="editDocument(document)" [ngClass]="{ 'active': selectedRowId === document._id }">
                        <ng-content *ngFor="let header of headers">
                            <td class="storage-view-table-data" style="min-width: 152px;" *ngIf="header.value === '_id'">
                                {{ cellValue(document, header.key) }}
                            </td>
                            <td class="storage-view-table-data" style="min-width: 152px;" *ngIf="header.value === 'Date'">
                                {{ cellValue(document, header.key) }}
                            </td>
                            <td class="storage-view-table-data" style="min-width: 100%;" *ngIf="header.value !== '_id' && header.value !== 'Date'">
                                {{ cellValue(document, header.key) }}
                            </td>
                        </ng-content>
                    </tr>
                </tbody>
             </table>
             <div class="spacer"></div>
             <div class="storage-view-table-actions">
                <div class="storage-view-table-load">
                    <!-- <p class="active">Load more rows</p> -->
                    <p>15 rows per page</p>
                </div>
                <div class="storage-view-table-paginator">
                    <div class="left" (click)="previousPage()">
                        <img src="/left-arrow-active.png" *ngIf="hasPreviousPage()">
                        <img src="/left-arrow.png" *ngIf="!hasPreviousPage()">
                    </div>
                    <div class="number">
                        <p>{{ pageNumber }}</p>
                    </div>
                    <div class="right" (click)="nextPage()">
                        <img src="/right-arrow-active.png" *ngIf="hasNextPage()">
                        <img src="/right-arrow.png" *ngIf="!hasNextPage()">
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
