@import '../../styles/palette.component.scss';

.edit-variable-container {
    display: flex;
    flex-direction: column;
}

.edit-variable {
    display: flex;
    flex-direction: column;
}

.edit-variable-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.edit-variable-header {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.edit-variable-header p:nth-child(1) {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.edit-variable-header p:nth-child(2) {
    font-size: 11px;
    font-weight:700;
    
    margin-left: 15px;
    padding: 0 10px;

    color: $primary-600;

    border: 1px solid $primary-600;
    border-radius: 10px;

    cursor: pointer;
}

.edit-variable-label {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit-variable-label p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.edit-variable-input-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 28px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: $surface-mixed-200;
    border: 1px solid $surface-mixed-300;
    border-radius: 2px;
}

.edit-variable-input {
    width: 100%;

    margin-left: 5px;
}

.edit-variable-input input {
    font-size: 12px;
    font-weight: 600;
    color: white;

    width: 97%;

    padding-bottom: 5px;

    background-color: $surface-mixed-200;
    border: none;

    font-family: "Roboto", sans-serif;
}

.edit-variable-input input:focus-visible {
    outline: none;
}

.edit-variable-textarea-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: $surface-mixed-200;
    border: 1px solid $surface-mixed-300;
    border-radius: 2px;
}

.edit-variable-textarea {
    width: 100%;

    margin-left: 5px;
}

.edit-variable-textarea textarea {
    font-size: 11px;
    font-weight: 600;
    color: white;

    width: 99%;
    height: 100px;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: $surface-mixed-200;
    border: none;

    font-family: "Roboto Mono", monospace;

    resize: none;
}

.edit-variable-textarea textarea:focus-visible {
    outline: none;
}

.edit-variable-action-button {
    display: flex;
    flex-direction: row;
}

.edit-variable-action-button p {
    font-size: 11px;
    font-weight: 600;

    margin-left: 10px;
    margin-top: 10px;

    color: $get;

    cursor: pointer;
}

.edit-variable-slim-button {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: 100%;

    cursor: pointer;
}

.edit-variable-slim-button.inline {
    width: auto;
}

.edit-variable-slim-button p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.edit-variable-buttons {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;

    width: 100%;
}

.edit-variable-cancel {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 75px;
    height: 27px;

    margin-top: 15px;
    margin-right: 10px;

    border: 1px solid $surface-mixed-300;
    border-radius: 3px;

    cursor: pointer;
}

.edit-variable-cancel:hover {
    background-color: $surface-mixed-200;
}

.edit-variable-cancel p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.edit-variable-save {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 75px;
    height: 27px;

    margin-top: 15px;
    margin-right: 10px;

    border: 1px solid $surface-mixed-300;
    border-radius: 3px;
    background-color: $primary-500;

    cursor: pointer;
}

.edit-variable-save:hover {
    background-color: $primary-400;
}

.edit-variable-save p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.edit-variable-divider {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 20px;
}

.edit-variable-divider .divider {
    width: 95%;
    height: 1px;

    border-top: 1px solid $surface-mixed-200;
}

.edit-variable-path-docs {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.edit-variable-path-doc {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 10px;

    background-color: $surface-mixed-200;
    border-radius: 4px;
}

.edit-variable-path-doc p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.edit-variable-path-docs {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.edit-variable-path-docs {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.edit-variable-path-doc {
    display: flex;
    flex-direction: column;

    align-items: start;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 10px;

    background-color: $surface-mixed-200;
    border-radius: 4px;
}

.edit-variable-path-doc p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.edit-variable-path-doc span {
    font-weight: 800;
    color: $api;
}

.edit-variable-path-doc br {
    margin-top: 15px;
}
