<div class="edit-variable-container">
    <div class="edit-variable">
        <div class="edit-variable-header-container">
            <div class="edit-variable-header">
                <p>Variable</p>
            </div>
            <div class="edit-variable-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-variable-label">
            <p>Name</p>
        </div>
        <div class="edit-variable-input-container">
            <div class="edit-variable-input" *ngIf="variable">
                <input type="text" placeholder="Enter name" [(ngModel)]="variable.name">
            </div>
        </div>
        <div class="edit-variable-label">
            <p>Variable name can have up to 80 characters, is case sensitive and may only contain alphanumeric characters and underscores (_).</p>
        </div>
        <div class="edit-variable-label">
            <p>Value</p>
        </div>
        <div class="edit-variable-action-button" *ngIf="variable && variable.put && !showingValue" (click)="showValue()">
            <p *ngIf="!loading">Show Value</p>
            <p *ngIf="loading">Loading...</p>
        </div>
        <div class="edit-variable-textarea-container" *ngIf="(variable && !variable.put) || (variable && variable.put && showingValue)">
            <div class="edit-variable-textarea">
                <textarea placeholder="Enter value" [(ngModel)]="variable.value" spellcheck="false"></textarea>
            </div>
        </div>
        <div class="edit-variable-buttons">
            <div class="edit-variable-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-variable-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-variable-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-variable-path-docs">
            <div class="edit-variable-path-doc">
                <p>Variables allow you to store constants or sensitive information like API keys and passwords, and can be templated into workflows, request configurations and functions.</p>
            </div>
        </div>
    </div>
</div>
