<div class="deploy-view">
    <div class="deploy-select">
        <p>Deploy size</p>
        <div class="deploy-select-container">
            <div class="deploy-select-button" (click)="toggleDropdown()">
                <p>{{ convertToSize(size) }}</p>
                <img src="/down.png">
            </div>
            <div class="deploy-select-dropdown" *ngIf="dropdown">
                <div class="deploy-select-dropdown-button" (click)="selectSize('1gb')">
                    <p>1 GB</p>
                </div>
            </div>
        </div>
    </div>
    <div class="deploy-select">
        <p>Expiration</p>
        <div class="deploy-select-container">
            <div class="deploy-select-button" (click)="toggleDropdown2()">
                <p>{{ convertToExpiration(expiration) }}</p>
                <img src="/down.png">
            </div>
            <div class="deploy-select-dropdown" *ngIf="dropdown2">
                <div class="deploy-select-dropdown-button" (click)="selectExpiration(1)">
                    <p>1 hour</p>
                </div>
                <div class="deploy-select-dropdown-button" (click)="selectExpiration(2)">
                    <p>2 hours</p>
                </div>
            </div>
        </div>
    </div>
    <div class="deploy-start">
        <p>Start</p>
        <p (click)="startDeployment()" *ngIf="!loadingStart">Start Deployment</p>
        <p *ngIf="loadingStart">Loading...</p>
    </div>
    <div class="deploy-name">
        <p>Status</p>
        <div class="deploy-name-detail" *ngIf="!deploy">
            <p>No Deployment</p>
        </div>
        <div class="deploy-name-detail" *ngIf="deploy && deploy.status === 'starting'">
            <p>Starting</p>
            <p class="white">•</p>
        </div>
        <div class="deploy-name-detail" *ngIf="deploy && deploy.status === 'running'">
            <p>Running</p>
            <p class="green">•</p>
        </div>
        <div class="deploy-name-detail" *ngIf="deploy && deploy.status === 'stopping'">
            <p>Stopping</p>
            <p class="yellow">•</p>
        </div>
        <div class="deploy-name-detail" *ngIf="deploy && deploy.status === 'stopped'">
            <p>Stopped</p>
            <p class="white">•</p>
        </div>
        <div class="deploy-name-detail" *ngIf="deploy && deploy.status === 'error'">
            <p>Errored</p>
            <p class="red">•</p>
        </div>
    </div>
    <div class="deploy-stop">
        <p>Stop</p>
        <p (click)="stopDeployment()" *ngIf="!loadingStop">Stop Deployment</p>
        <p *ngIf="loadingStop">Stop Deployment</p>
    </div>
</div>
