<div class="app-view-container">
    <div class="app-view-breadcrumb-container">
        <div class="app-view-breadcrumb">
            <p class="initial">Apps</p>
            <img src="/right.png">
        </div>
        <div class="app-view-breadcrumb">
            <p class="active">System</p>
        </div>
    </div>
    <div class="app-view-button-list">
        <div class="app-view-button" *ngFor="let app of apps" (click)="selectInfo(app.name)">
            <div class="app-view-button-info">
                <img src="/app.png">
                <p>{{ app.name }}.{{ app.method }}</p>
            </div>
        </div>
    </div>
    <div class="app-view-divider">
        <div class="divider"></div>
    </div>
    <div class="app-view-info-container">
        <div class="app-view-info" *ngIf="appDocs === ''">
            <p>Click an app to see more information.</p>
        </div>

        <app-api-docs *ngIf="appDocs === 'API'"></app-api-docs>
        <app-string-docs *ngIf="appDocs === 'String'"></app-string-docs>
        <app-storage-docs *ngIf="appDocs === 'Storage'"></app-storage-docs>
    </div>
</div>
