<div class="app-view-container" [ngStyle]="{ width: sidebarWidth }">
    <div class="app-view-breadcrumb-container">
        <div class="app-view-breadcrumb" *ngIf="sidebarView">
            <p class="initial" (click)="resetToCategoryView()">Apps</p>
            <img src="/right.png" class="arrow" *ngIf="!categoryView">
        </div>
        <div class="app-view-breadcrumb" *ngIf="sidebarView && !categoryView">
            <p class="active">{{ category }}</p>
        </div>
        <div class="spacer"></div>
        <div class="app-view-sidebar-icon">
            <img class="active" src="/sidebar-right-active.png" (click)="toggleSidebar()">
        </div>
    </div>
    <div class="app-view-search-container" *ngIf="sidebarView">
        <div class="app-view-search">
            <input type="text" placeholder="Search Apps" [(ngModel)]="search">
        </div>
    </div>
    <div class="app-view-category-list" *ngIf="sidebarView && categoryView">
        <div class="app-view-category" *ngFor="let category of categories" (click)="selectCategory(category.name)">
            <div class="app-view-category-info">
                <img [src]="'/' + category.icon + '.png'">
                <p>{{ category.name }}</p>
            </div>
        </div>
    </div>
    <!-- <div class="app-view-button-list" *ngIf="sidebarView && !categoryView">
        <div class="app-view-button" *ngFor="let app of filteredApps" (click)="scrollToApp(app.name, app.method)">
            <div class="app-view-button-info">
                <img src="/app.png">
                <p>{{ app.name }}.{{ app.method }}</p>
            </div>
        </div>
    </div> -->
    <div class="app-view-divider" *ngIf="sidebarView && !categoryView">
        <div class="divider"></div>
    </div>
    <div class="app-view-info-container" *ngIf="sidebarView && !categoryView">
        <app-api-docs [search]="search" [category]="category"></app-api-docs>
    </div>
</div>
