@import '../../styles/palette.component.scss';

.edit-fn-container {
    display: flex;
    flex-direction: column;
}

.edit-fn {
    display: flex;
    flex-direction: column;
}

.edit-fn-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.edit-fn-header {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.edit-fn-header p:nth-child(1) {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.edit-fn-header p:nth-child(2) {
    font-size: 11px;
    font-weight:700;
    
    margin-left: 15px;
    padding: 0 10px;

    color: $primary-600;

    border: 1px solid $primary-600;
    border-radius: 10px;

    cursor: pointer;
}

.edit-fn-label {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit-fn-label p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.edit-fn-input-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 28px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: $surface-mixed-200;
    border: 1px solid $surface-mixed-300;
    border-radius: 2px;
}

.edit-fn-input {
    width: 100%;

    margin-left: 5px;
}

.edit-fn-input input {
    font-size: 12px;
    font-weight: 600;
    color: white;

    width: 97%;

    padding-bottom: 5px;

    background-color: $surface-mixed-200;
    border: none;
}

.edit-fn-input input:focus-visible {
    outline: none;
}

.edit-fn-code-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    // height: 28px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: $surface-dark;
    border: 1px solid $surface-mixed-300;
    border-radius: 2px;
}

.edit-fn-slim-button {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: 100%;

    cursor: pointer;
}

.edit-fn-slim-button.inline {
    width: auto;
}

.edit-fn-slim-button p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.edit-fn-buttons {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;

    width: 100%;
}

.edit-fn-cancel {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 75px;
    height: 27px;

    margin-top: 15px;
    margin-right: 10px;

    border: 1px solid $surface-mixed-300;
    border-radius: 3px;

    cursor: pointer;
}

.edit-fn-cancel:hover {
    background-color: $surface-mixed-200;
}

.edit-fn-cancel p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.edit-fn-save {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 75px;
    height: 27px;

    margin-top: 15px;
    margin-right: 10px;

    border: 1px solid $surface-mixed-300;
    border-radius: 3px;
    background-color: $primary-500;

    cursor: pointer;
}

.edit-fn-save:hover {
    background-color: $primary-400;
}

.edit-fn-save p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.edit-fn-divider {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 20px;
}

.edit-fn-divider .divider {
    width: 95%;
    height: 1px;

    border-top: 1px solid $surface-mixed-200;
}

.edit-fn-path-docs {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.edit-fn-path-doc {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 10px;

    background-color: $surface-mixed-200;
    border-radius: 4px;
}

.edit-fn-path-doc p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}
