<div class="edit-fn-container">
    <div class="edit-fn">
        <div class="edit-fn-header-container">
            <div class="edit-fn-header">
                <p>Function</p>
            </div>
            <div class="edit-fn-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-fn-label">
            <p>Name</p>
        </div>
        <div class="edit-fn-input-container">
            <div class="edit-fn-input" *ngIf="fn">
                <input type="text" placeholder="Enter collection name" [(ngModel)]="fn.name">
            </div>
        </div>
        <div class="edit-fn-label">
            <p>Function name can have up to 80 characters, may only contain alphanumeric characters and underscores (_), is case sensitive and must be unique.</p>
        </div>
        <div #editFnCodeContainer class="edit-fn-code-container" [ngStyle]="{ height: editFnHeight + 'px' }">
            <div #codeEditor></div>
        </div>
        <div class="edit-fn-code-resize-bar" appResizableHeight [resizingElement]="editFnCodeContainer" [localStorageKey]="'editFnHeight'"></div>
        <div class="edit-fn-buttons">
            <div class="edit-fn-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-fn-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-fn-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-fn-path-docs">
            <div class="edit-fn-path-doc">
                <p>Functions must begin with <span>function fn(context) &#123;</span> and end with <span>&#125;</span>.</p>
                <br>
                <p>The function can return any value and may be rejected for using certain restricted words within the function body. Callback functions can also be created for forEach, map, filter and reduce functions.</p>
                <br>
                <p>ForEach, Map and Filter functions must begin with <span>function fn(element, index, array, context) &#123;</span> and end with <span>&#125;</span>.</p>
                <br>
                <p>Reduce functions must begin with <span>function fn(accumulator, value, index, array, context) &#123;</span> and end with <span>&#125;</span>.</p>
            </div>
        </div>
    </div>
</div>
