@import '../../styles/palette.component.scss';

.edit-storage-container {
    display: flex;
    flex-direction: column;
}

.edit-storage {
    display: flex;
    flex-direction: column;
}

.edit-storage-header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.edit-storage-header p {
    font-size: 12px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.edit-storage-label {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit-storage-label p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.edit-storage-input-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 28px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: $surface-mixed-200;
    border: 1px solid $surface-mixed-300;
    border-radius: 2px;
}

.edit-storage-input {
    width: 100%;

    margin-left: 5px;
}

.edit-storage-input input {
    font-size: 12px;
    font-weight: 600;
    color: white;

    width: 97%;

    padding-bottom: 5px;

    background-color: $surface-mixed-200;
    border: none;
}

.edit-storage-input input:focus-visible {
    outline: none;
}

.edit-storage-select-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 28px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: $surface-mixed-200;
    border: 1px solid $surface-mixed-300;
    border-radius: 2px;
}

.edit-storage-select {
    display: flex;
    flex-direction: column;

    position: relative;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;

    border-right: 1px solid $surface-mixed-300;
    background-color: $surface-mixed-000;
}

.edit-storage-select-button {
    display: flex;
    flex-direction: row;

    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.edit-storage-select-button p {
    font-size: 12px;
    font-weight: 600;
    color: $primary-600;
}

.edit-storage-select-button img {
    width: 15px;
    height: 15px;

    padding-left: 5px;
}

.edit-storage-select-dropdown {
    display: flex;
    flex-direction: column;

    width: 100%;

    top: 29px;
    position: absolute;

    background-color: $surface-mixed-000;

    z-index: 2;
}

.edit-storage-select-dropdown-button {
    display: flex;
    flex-direction: column;

    justify-content: center;
    
    height: 30px;

    padding-left: 10px;
}

.edit-storage-select-dropdown-button:hover {
    background-color: $primary-000;
}

.edit-storage-select-dropdown-button p {
    font-size: 12px;
    font-weight: 600;
    color: $primary-600;
}

.edit-storage-slim-button {
    display: flex;
    flex-direction: row;

    justify-content: end;

    width: 100%;

    cursor: pointer;
}

.edit-storage-slim-button.inline {
    width: auto;
}

.edit-storage-slim-button p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;
}

.edit-storage-buttons {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;

    width: 100%;
}

.edit-storage-cancel {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 75px;
    height: 27px;

    margin-top: 15px;
    margin-right: 10px;

    border: 1px solid $surface-mixed-300;
    border-radius: 3px;

    cursor: pointer;
}

.edit-storage-cancel:hover {
    background-color: $surface-mixed-200;
}

.edit-storage-cancel p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.edit-storage-save {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 75px;
    height: 27px;

    margin-top: 15px;
    margin-right: 10px;

    border: 1px solid $surface-mixed-300;
    border-radius: 3px;
    background-color: $primary-500;

    cursor: pointer;
}

.edit-storage-save:hover {
    background-color: $primary-400;
}

.edit-storage-save p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.edit-storage-divider {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 20px;
}

.edit-storage-divider .divider {
    width: 95%;
    height: 1px;

    border-top: 1px solid $surface-mixed-200;
}

.edit-storage-path-docs {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.edit-storage-path-doc {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 10px;

    background-color: $surface-mixed-200;
    border-radius: 4px;
}

.edit-storage-path-doc p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}
