<div class="edit-storage-container">
    <div class="edit-storage">
        <div class="edit-storage-header-container">
            <div class="edit-storage-header">
                <p>Storage</p>
                <p (click)="openView()">Open View</p>
            </div>
            <div class="edit-storage-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-storage-label">
            <p>Name</p>
        </div>
        <div class="edit-storage-input-container">
            <div class="edit-storage-input" *ngIf="storage">
                <input type="text" placeholder="Enter collection name" [(ngModel)]="storage.name">
            </div>
        </div>
        <div class="edit-storage-label">
            <p>Schema</p>
        </div>
        <div class="edit-storage-select-container" *ngIf="storage && !storage.schemaId">
            <div class="edit-storage-select" (click)="toggleDropdown()">
                <div class="edit-storage-select-button">
                    <p>Select Schema</p>
                    <img src="/down.png">
                </div>
                <div class="edit-storage-select-dropdown" *ngIf="dropdown && storage">
                    <div class="edit-storage-select-dropdown-button" *ngFor="let s of schemas" (click)="selectSchema(s._id)">
                        <p>{{ s.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-storage-list-item-container" *ngIf="storage">
            <div class="edit-storage-list-item" *ngIf="storage.schemaId" (click)="removeSchema()">
                <img class="check" src="/check.png">
                <img class="x" src="/x.png">
                <p>{{ findSchema(storage.schemaId) }}</p>
            </div>
        </div>
        <div class="edit-storage-buttons">
            <div class="edit-storage-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-storage-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-storage-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-storage-path-docs">
            <div class="edit-storage-path-doc">
                <p>Collection names are based on MongoDB 7.x. See the MongoDB restriction on collection names for details.</p>
            </div>
        </div>
    </div>
</div>
