@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import './styles/palette.component.scss';

::ng-deep html, ::ng-deep body {
    margin:0;
    padding: 0;
}

.root-container {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: $surface-mixed-100;
}

.root {
    display: flex;
    align-items: start;
    justify-content: start;

    position: relative;

    width: 100%;
    height: 100%;
}

::ng-deep p, ::ng-deep span {
    margin:0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::ng-deep label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::ng-deep .api-view-editor-row p {
    margin:0;
    padding: 0;

    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

::ng-deep .api-view-editor-row input {
    margin:0;
    padding: 0;

    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

app-services {
    height: 100%;
}

app-service-edit {
    height: 100%;
}

app-storage-view {
    display: flex;
    
    width: 100%;
    height: 100%;
}

app-api-view {
    display: flex;
    
    width: 100%;
    height: 100%;
}

app-landing-view {
    display: flex;
    
    width: 100%;
    height: 100%;
}

app-toast-view {
    display: flex;

    justify-content: center;

    position: absolute;
 
    width: 100%;

    bottom: 0;
}
