<div class="root-container">
  <div class="root">
    <app-services></app-services>
    <app-service-edit *ngIf="view.service !== '' && view.serviceId !== ''"></app-service-edit>

    <app-landing-view *ngIf="view.window === ''"></app-landing-view>
    <app-storage-view *ngIf="view.window === 'Storage'"></app-storage-view>
    <app-api-view *ngIf="view.window === 'Workflow'"></app-api-view>
    <app-app-view *ngIf="view.window === 'Workflow'"></app-app-view>

    <app-toast-view></app-toast-view>
    <app-delete-view *ngIf="deleteData"></app-delete-view>
    <app-settings-view *ngIf="settingsOpen"></app-settings-view>
  </div>
</div>
