<div class="root-container">
  <div class="root">
    <app-services></app-services>
    <app-service-edit *ngIf="view.service !== '' && view.serviceId !== ''"></app-service-edit>

    <app-landing-view *ngIf="view.window === ''"></app-landing-view>

    <div class="storage-view-container" *ngIf="view.window === 'Storage'">
      <app-storage-view></app-storage-view>
      <app-document-edit></app-document-edit>
    </div>

    <div class="api-view-container" *ngIf="view.window === 'Workflows'">
      <app-api-view></app-api-view>
      <app-activity-view *ngIf="activityViewOpen"></app-activity-view>
      <app-tab-view></app-tab-view>
    </div>
    <app-app-view *ngIf="view.window === 'Workflows'"></app-app-view>

    <app-toast-view></app-toast-view>
    <app-delete-view *ngIf="deleteData"></app-delete-view>
    <app-info-view *ngIf="infoData"></app-info-view>
    <app-settings-view *ngIf="settingsOpen"></app-settings-view>
    <app-login-view *ngIf="loginOpen"></app-login-view>
  </div>
</div>
