@import '../../styles/palette.component.scss';

.billing-view {
    display: flex;
    flex-direction: column;
}

.billing-credit {
    display: flex;
    flex-direction: row;

    height: 40px;

    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid $surface-mixed-200;
}

.billing-credit p {
    font-size: 12px;
    font-weight: 800;

    color: white;
}

.billing-setup {
    display: flex;
    flex-direction: row;

    height: 40px;

    align-items: center;
    justify-content: space-between;
}

.billing-setup > p {
    font-size: 12px;
    font-weight: 800;

    color: white;
}

.billing-input-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 20px;

    padding-bottom: 3px;

    background-color: #2f2b3a;
    border: 1px solid #46424f;
    border-radius: 2px;
}

.billing-input {
    width: 100%;
    margin-left: 5px;
}

.billing-input input {
    font-size: 12px;
    font-weight: 600;
    color: white;

    width: 97%;

    background-color: #2f2b3a;
    border: none;
}

.billing-input input:focus-visible {
    outline: none;
}

.billing-select {
    display: flex;
    flex-direction: row;

    height: 40px;

    align-items: center;
    justify-content: space-between;
}

.billing-select p {
    font-size: 12px;
    font-weight: 800;

    color: white;
}

.billing-select-container {
    display: flex;
    flex-direction: column;

    position: relative;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 30px;

    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;

    background-color: $primary-1300;
    border-radius: 3px;
}

.billing-select-button {
    display: flex;
    flex-direction: row;

    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.billing-select-button p {
    font-size: 12px;
    font-weight: 600;
    color: $surface-dark;
}

.billing-select-button img {
    width: 15px;
    height: 15px;
    padding-left: 5px;
}

.billing-select-dropdown {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    top: 27px;

    position: absolute;

    background-color: $primary-1300;
    border-radius: 0 0 3px 3px;
    border: 1px solid $surface-dark;

    z-index: 2;
}

.billing-select-dropdown-button {
    display: flex;
    flex-direction: column;

    justify-content: center;

    height: 30px;

    padding-left: 10px;

    border-top: 1px solid $surface-dark;
}

.billing-select-dropdown-button p {
    font-size: 12px;
    font-weight: 600;
    color: $surface-dark;
}

.billing-select-dropdown-button:hover {
    background-color: $surface-dark;
}

.billing-select-dropdown-button:hover p {
    color: $primary-600;
}

.billing-create {
    display: flex;
    flex-direction: row;

    height: 40px;

    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid $surface-mixed-200;
}

.billing-create p {
    font-size: 12px;
    font-weight: 800;

    color: white;
}

.billing-create p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;

    padding: 3px 15px;

    color: white;

    border-radius: 5px;
    border: 1px solid $primary-800;
    background: $primary-800;

    cursor: pointer;
}

.billing-list-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.billing-list-item {
    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    height: 18px;

    padding: 2px 5px 2px 5px;

    cursor: pointer;
}

.billing-list-item:hover {
    background-color: $surface-mixed-200;
}

.billing-list-item p {
    font-size: 11px;
    font-weight: 600;
    color: white;
}

.billing-list-item img {
    width: 10px;
    height: 10px;
}
