<div class="activity-view-container">
    <div class="activity-view">
        <div class="activity-view-header-container">
            <div class="activity-view-header">
                <p class="header">Workflow Activity</p>
            </div>
            <div class="spacer"></div>
            <div class="activity-view-tab-container">
                <div class="activity-view-tab" (click)="toggleDeployDropdown()">
                    <p *ngIf="!deploy">Select a deployment</p>
                    <p *ngIf="deploy">{{ deploy.ec2Id }}</p>
                    <img src="/down.png">
                </div>
                <div class="activity-view-tab-dropdown" *ngIf="deployDropdown">
                    <p *ngFor="let deploy of deploys" (click)="selectDeploy(deploy)">{{ deploy.ec2Id }}</p>
                </div>
                <!-- <div class="activity-view-tab" [ngClass]="{'active': tab === 'queue'}" (click)="selectTab('queue')">
                    <p>Queue</p>
                </div>
                <div class="activity-view-tab" [ngClass]="{'active': tab === 'scheduler'}" (click)="selectTab('scheduler')">
                    <p>Scheduler</p>
                </div> -->
            </div>
        </div>
        <div class="activity-view-search-container">
            <div class="activity-view-search">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="activity-view-table-container">
            <table>
                <thead>
                    <tr class="activity-view-table-row">
                        <th class="activity-view-table-header" style="width: 45px;">
                            ID
                        </th>
                        <th class="activity-view-table-header" style="width: 60px;">
                            Type
                        </th>
                        <th class="activity-view-table-header" style="width: 180px;">
                            Start
                        </th>
                        <th class="activity-view-table-header" style="width: 180px;">
                            Stop
                        </th>
                        <th class="activity-view-table-header" style="width: 100%;">
                            Duration
                        </th>
                        <th class="activity-view-table-header" style="width: 40px;">
                            Success
                        </th>
                        <th class="activity-view-table-header" style="width: 40px;">
                            Data
                        </th>
                        <th class="activity-view-table-header" style="width: 40px;">
                            Error
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="activity-view-table-row">
                        <td class="activity-view-table-data" style="min-width: 45px;">
                            ID5839
                        </td>
                        <td class="activity-view-table-data" style="min-width: 60px;">
                            API
                        </td>
                        <td class="activity-view-table-data" style="min-width: 180px;">
                            2024-10-27T05:32:03.876+00:00
                        </td>
                        <td class="activity-view-table-data" style="min-width: 180px;">
                            2024-10-27T05:32:03.876+00:00
                        </td>
                        <td class="activity-view-table-data" style="width: 100%;">
                            5ms
                        </td>
                        <td class="activity-view-table-data" style="min-width: 40px;">
                            Yes
                        </td>
                        <td class="activity-view-table-data click" style="min-width: 40px;">
                            Data
                        </td>
                        <td class="activity-view-table-data click" style="min-width: 40px;">
                            Error
                        </td>
                    </tr>
                    <tr class="activity-view-table-row">
                        <td class="activity-view-table-data" style="min-width: 45px;">
                            ID5839
                        </td>
                        <td class="activity-view-table-data" style="min-width: 60px;">
                            API
                        </td>
                        <td class="activity-view-table-data" style="min-width: 180px;">
                            2024-10-27T05:32:03.876+00:00
                        </td>
                        <td class="activity-view-table-data" style="min-width: 180px;">
                            2024-10-27T05:32:03.876+00:00
                        </td>
                        <td class="activity-view-table-data" style="width: 100%;">
                            5ms
                        </td>
                        <td class="activity-view-table-data" style="min-width: 40px;">
                            Yes
                        </td>
                        <td class="activity-view-table-data click" style="min-width: 40px;">
                            Data
                        </td>
                        <td class="activity-view-table-data click" style="min-width: 40px;">
                            Error
                        </td>
                    </tr>
                    <tr class="activity-view-table-row" *ngFor="let job of jobs">
                        <td class="activity-view-table-data" style="min-width: 45px;">
                            {{ job.jobId }}
                        </td>
                        <td class="activity-view-table-data" style="min-width: 60px;">
                            API
                        </td>
                        <td class="activity-view-table-data" style="min-width: 180px;">
                            {{ job.start }}
                        </td>
                        <td class="activity-view-table-data" style="min-width: 180px;">
                            {{ job.stop }}
                        </td>
                        <td class="activity-view-table-data" style="width: 100%;">
                            {{ job.duration }}
                        </td>
                        <td class="activity-view-table-data" style="min-width: 40px;">
                            {{ job.success }}
                        </td>
                        <td class="activity-view-table-data click" style="min-width: 40px;">
                            <ng-content *ngIf="job.activity" (click)="showData(job.activity)">
                                Data
                            </ng-content>
                        </td>
                        <td class="activity-view-table-data click" style="min-width: 40px;">
                            <ng-content *ngIf="job.errorMessage" (click)="showError(job.errorMessage)">
                                Error
                            </ng-content>
                        </td>
                    </tr>
                </tbody>
             </table>
             <div class="spacer"></div>
             <div class="activity-view-table-actions">
                <div class="activity-view-table-load">
                    <p class="color" *ngIf="instance && deploy">{{ status | capitalize }}</p>
                    
                    <p class="active" *ngIf="status === 'running' && instance && deploy && !socketService.socket" (click)="connectToSocket()">Connect to Live Updates</p>
                    <p class="color" *ngIf="status === 'running' && instance && deploy && socketService.socket">Connected to Live Updates</p>
                </div>
                <div class="spacer"></div>
                <div class="activity-view-table-load">
                    <!-- <p class="active">Load more rows</p> -->
                    <p>Load more rows</p>
                </div>
                <div class="activity-view-table-paginator">
                    <div class="left">
                        <img src="/left-arrow.png">
                    </div>
                    <div class="number">
                        <p>1</p>
                    </div>
                    <div class="right active">
                        <img src="/right-arrow-active.png">
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
