@import '../../styles/palette.component.scss';

.activity-view-container {
    display: flex;
    flex-direction: column;

    align-items: start;

    padding-top: 10px;
    padding-bottom: 10px;

    height: 250px;
    min-height: 250px;
    max-height: 250px;

    background-color: $surface-dark;

    border-top: 1px solid black;
}

.activity-view {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    width: 100%;
}

.activity-view-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    padding-left: 15px;
    padding-right: 15px;
}

.activity-view-header {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.activity-view-header p.header {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.activity-view-search-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.activity-view-search {
    display: flex;
    flex-direction: row;

    width: 215px;
}

.activity-view-search input {
    font-size: 11px;
    font-weight: 600;
    color: white;

    width: 99%;
    height: 10px;

    padding: 7px 7px;

    background-color: $surface-mixed-200;
    border: none;
    border-radius: 3px;

    font-family: "Roboto", sans-serif;
}

.activity-view-search input:focus-visible {
    outline: none;
}

.activity-view-tab-container {
    display: flex;
    flex-direction: row;

    position: relative;
}

.activity-view-tab {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 5px 10px;

    cursor: pointer;
}

.activity-view-tab p {
    font-size: 11px;
    font-weight: 600;
    color: $get;
}

.activity-view-tab img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.activity-view-tab-dropdown {
    display: flex;
    flex-direction: column;

    position: absolute;

    width: 200px;
    height: 100px;

    overflow-y: scroll;

    top: 25px;
    right: 5px;

    background-color: $surface-mixed-100;
    border-radius: 1px;
    border: 1px solid $surface-mixed-200;
}

.activity-view-tab-dropdown p {
    font-size: 11px;
    font-weight: 600;
    color: $get;

    padding: 5px;

    cursor: pointer;
}

.activity-view-tab-dropdown p:hover {
    background-color: $primary-1400;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.activity-view-table-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.activity-view-table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid $primary-500;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: $surface-mixed-100;
}

table {
    width: 100%;
    table-layout: fixed;
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    width: 100%;
    max-height: 120px;
    overflow-y: scroll;
}

.activity-view-table-header {
    font-size: 11px;
    font-weight: 700;

    color: $get;

    text-align: left;
}

.activity-view-table-data {
    font-size: 11px;
    font-weight: 700;

    color: $get;
}

.activity-view-table-data.click {
    cursor: pointer;
}

.activity-view-table-actions {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;

    margin-top: 10px;
}

.activity-view-table-load {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-right: 15px;
}

.activity-view-table-load p {
    font-size: 11px;
    font-weight: 600;
    color: $surface-mixed-400;

    border-bottom: 1px solid $surface-dark;

    cursor: default;

    margin-right: 10px;
}

.activity-view-table-load p.active {
    color: $surface-mixed-600;

    border-bottom: 1px solid $surface-mixed-600;

    cursor: pointer;
}

.activity-view-table-load p.color {
    color: $get;
}

.activity-view-table-load img {
    width: 11px;
    height: 11px;

    margin-right: 10px;

    cursor: pointer;
}

.activity-view-table-paginator {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.activity-view-table-paginator .left.active, 
.activity-view-table-paginator .right.active {
    cursor: pointer;
}

.activity-view-table-paginator .left img, 
.activity-view-table-paginator .right img {
    width: 10px;
    height: 10px;
}

.activity-view-table-paginator .number {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 20px;
    width: 50px;

    margin-left: 10px;
    margin-right: 10px;

    background-color: $primary-900;
    border-radius: 2px;

    cursor: default;
}

.activity-view-table-paginator .number p {
    font-size: 11px;
    font-weight: 600;
    color: $primary-600;
}
