<div class="settings-view">
    <div class="settings-header" *ngIf="project">
        <p *ngIf="setting === 'project'">Project Settings - {{ project.name }}</p>
        <p *ngIf="setting === 'deploy'">Deploy Settings - {{ project.name }}</p>
        <p *ngIf="setting === 'logs'">Logs - {{ project.name }}</p>
        <p *ngIf="setting === 'apiKeys'">API Keys - {{ project.name }}</p>
        <p *ngIf="setting === 'usageCosts'">Usage Costs - {{ project.name }}</p>
        <p *ngIf="setting === 'account'">Account Settings</p>
        <p *ngIf="setting === 'billing'">Account Billing</p>
        <img src="/x-white.png" (click)="closeSettings()">
    </div>
    <div class="settings-divider">
        <div class="divider"></div>
    </div>
    <div class="settings-section">
        <div class="settings-buttons">
            <div class="settings-button" [ngClass]="{'active': setting === 'project'}" (click)="selectSetting('project')">
                <img src="/project-white.png">
                <p>Project</p>
            </div>
            <div class="settings-button" [ngClass]="{'active': setting === 'deploy'}" (click)="selectSetting('deploy')">
                <img src="/cloud.png">
                <p>Deploy</p>
            </div>
            <div class="settings-button" [ngClass]="{'active': setting === 'logs'}" (click)="selectSetting('logs')">
                <img src="/book.png">
                <p>Logs</p>
            </div>
            <div class="settings-button" [ngClass]="{'active': setting === 'apiKeys'}" (click)="selectSetting('apiKeys')">
                <img src="/key.png">
                <p>API Keys</p>
            </div>
            <div class="settings-button" [ngClass]="{'active': setting === 'usageCosts'}" (click)="selectSetting('usageCosts')">
                <img src="/cost.png">
                <p>Usage Costs</p>
            </div>
            <div class="section-divider"></div>
            <div class="settings-button" [ngClass]="{'active': setting === 'account'}" (click)="selectSetting('account')">
                <img src="/user.png">
                <p>Account</p>
            </div>
            <div class="settings-button" [ngClass]="{'active': setting === 'billing'}" (click)="selectSetting('billing')">
                <img src="/billing.png">
                <p>Billing</p>
            </div>
            <div class="flex-grow"></div>
            <div class="logout-button" (click)="logout()" *ngIf="!loading">
                <img src="/billing.png">
                <p>Log out</p>
            </div>
            <div class="logout-button" *ngIf="loading">
                <img src="/billing.png">
                <p>Logging out...</p>
            </div>
        </div>
        <div class="settings-content">
            <app-account-view *ngIf="setting === 'account'"></app-account-view>
            <app-deploy-view *ngIf="setting === 'deploy'"></app-deploy-view>
            <app-log-view *ngIf="setting === 'logs'"></app-log-view>
            <app-key-view *ngIf="setting === 'apiKeys'"></app-key-view>
            <app-billing-view *ngIf="setting === 'billing'"></app-billing-view>
            <app-usage-view *ngIf="setting === 'usageCosts'"></app-usage-view>
            <app-project-detail-view *ngIf="setting === 'project'"></app-project-detail-view>
        </div>
    </div>
</div>
