<div class="usage-view">
    <div class="usage-select">
        <p>Select deployment</p>
        <div class="usage-select-container">
            <div class="usage-select-button" (click)="toggleDropdown()" *ngIf="deploys">
                <p *ngIf="deploy">{{ deploy.ec2Id }}</p>
                <p *ngIf="!deploy">No deployments</p>
                <img src="/down.png">
            </div>
            <div class="usage-select-dropdown" *ngIf="dropdown && deploys">
                <div class="usage-select-dropdown-button" [ngClass]="{'active': deploy && d._id === deploy._id }" *ngFor="let d of deploys" (click)="selectDeploy(d._id)">
                    <p>{{ d.ec2Id }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="usage-list-item-container">
        <div class="usage-list-item" *ngFor="let usage of usages">
            <p>Container - 10 minutes</p>
            <p>$0.010</p>
        </div>
    </div>
</div>
