@import '../../styles/palette.component.scss';

.tab-view-container {
    display: flex;
    flex-direction: row;

    border-top: 1px solid black;
}

.tab-view {
    display: flex;
    flex-direction: row;
}

.tab {
    display: flex;
    flex-direction: row;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;
}

.tab p {
    font-size: 11px;
    font-weight: 500;
    color: $surface-mixed-600;
}

.tab:hover p {
    color: $primary-600;
}

.tab.active p {
    color: $primary-600;
}
