@import '../../styles/palette.component.scss';

.service-edit-container {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 100%;

    background-color: $surface-dark;
    border-right: 1px solid $surface-mixed-300;
}

.service-edit-resize-bar {
    width: 2px;
    height: 100%;
    border: 1px solid black;
    cursor: ew-resize;
}
