@import '../../styles/palette.component.scss';

.services-container {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;

    background-color: $surface-dark;
    border-right: 1px solid $surface-mixed-300;
}

.services-header {
    padding-top: 10px;
    padding-left: 10px;

    margin-bottom: 10px;
}

.services-header p {
    font-size: 13px;
    font-weight: 700;
    color: white;
}

.service {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    height: 18px;

    margin: 5px 5px 0 5px;
    padding: 2px 5px 2px 5px;
}

.service p:nth-child(1) {
    font-size: 11px;
    font-weight: 600;
    color: $light-white;
}

.service p:nth-child(2) {
    font-size: 10px;
    font-weight: 600;

    margin-left: 5px;
    margin-top: 1px;

    visibility: hidden;

    color: $primary-600;

    cursor: pointer;
}

.service:hover p:nth-child(2) {
    visibility: visible;
}

.service-data {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin: 0 5px 0 5px;
    padding: 2px 5px 2px 15px;

    cursor: pointer;
}

.service-data.active,
.service-data:hover {
    background-color: $surface-mixed-200;
}

.service-data p {
    font-size: 11px;
    font-weight: 500;
    color: $light-grey;
}

.service-data img {
    width: 10px;
    height: 10px;

    margin-right: 5px;
}

.spacer {
    flex-grow: 1;
}

.user-button {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 35px;
    
    margin: 0 10px 10px 10px;
    padding-left: 10px;

    border-radius: 5px;
    border: 1px solid $primary-600;

    cursor: pointer;
}

.user-button:hover {
    background-color: $primary-800;
}

.user-button img {
    width: 12px;
    height: 12px;

    margin-right: 12px;
}

.user-button p {
    font-size: 11px;
    font-weight: 700;

    color: white;
}

.project-container {
    display: flex;
    flex-direction: column;

    position: relative;
}

.project-container > .project-button {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 30px;
    
    margin: 0 10px 10px 10px;
    padding-left: 10px;

    border-radius: 3px;
    border: 1px solid $primary-600;
    background: $primary-1600;

    cursor: pointer;
}

.project-container > .project-button img {
    width: 12px;
    height: 12px;

    margin-right: 12px;
}

.project-container > .project-button p {
    font-size: 11px;
    font-weight: 700;

    color: white;
}

.project-button-dropdown {
    display: flex;
    flex-direction: column;

    position: absolute;

    width: 89%;

    top: 30px;

    margin: 0 10px 10px 10px;

    border-radius: 0 0 2px 2px;
    border: 1px solid $primary-600;
    box-shadow: 1px 4px 5px #d0c4ec6e;
}

.project-button-dropdown > .project-button {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 30px;
    
    padding-left: 10px;

    background: $medium-purple;

    cursor: pointer;
}

.project-button-dropdown > .project-button img {
    width: 12px;
    height: 12px;

    margin-right: 12px;
}

.project-button-dropdown > .project-button p {
    font-size: 11px;
    font-weight: 700;

    color: $dark-purple;
}
