@import '../../styles/palette.component.scss';

.services-container {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;

    background-color: $surface-mixed-100;
    border-right: 1px solid $surface-mixed-300;
}

.services-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.services-header p {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.service {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 18px;

    margin: 5px;
    padding: 5px;

    border-radius: 5px;
    border: 1px solid $surface-mixed-200;

    cursor: pointer;
}

.service.active,
.service:hover {
    background-color: $surface-mixed-200;
}

.service p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.service img {
    width: 15px;
    height: 15px;

    margin-right: 5px;
}
