<div class="services-container">
    <div class="services-header">
        <p>Dispatch Workbox</p>
        <ng-content *ngIf="!view.serviceId">
            <img src="/sidebar.png">
        </ng-content>
        <ng-content *ngIf="view.serviceId">
            <img class="active" src="/sidebar-active.png" (click)="hideSidebar()">
        </ng-content>
    </div>
    <div class="project-container">
        <div class="project-button" (click)="toggleDropdown()" *ngIf="project">
            <img src="/project.png">
            <p>{{ project.name }}</p>
        </div>
        <div class="project-button-dropdown" *ngIf="dropdown && allProjects && project">
            <div class="project-button" *ngFor="let p of allProjects"  [ngClass]="{ 'active': project._id === p._id }" (click)="changeProject(p._id)">
                <img src="/project.png">
                <p>{{ p.name }}</p>
            </div>
            <div class="project-button" (click)="create('Projects')">
                <img src="/plus.png">
                <p>Create New Project</p>
            </div>
        </div>
    </div>
    <div class="services-scroll-container">
        <div class="small-spacer short">
            <p>Services</p>
        </div>
        <div class="services">
            <div *ngFor="let service of services;">
                <div class="service" *ngIf="service.name === 'Workflows' || service.name === 'Codes' || service.name === 'APIs' || service.name === 'Queues'  || service.name === 'Schedulers'">
                    <p *ngIf="service.name === 'Workflows' || service.name === 'APIs' || service.name === 'Queues' || service.name === 'Schedulers'">{{ service.name }}</p>
                    <p *ngIf="service.name === 'Codes'">Code</p>
                    <p (click)="create(service.name)">New +</p>
                </div>
                <!-- Workflow -->
                <div class="service-data-list" *ngIf="service.name === 'Workflows'">
                    <div class="service-data" [ngClass]="{ 'active': view.windowId === w._id }" *ngFor="let w of workflows" (click)="selectService(service.name, w._id)">
                        <img [src]="service.icon">
                        <p>{{ w.name }}</p>
                    </div>
                </div>
                <!-- Code -->
                <div class="service-data-list" *ngIf="service.name === 'Codes'">
                    <div class="service-data" [ngClass]="{ 'active': view.windowId === c._id }" *ngFor="let c of codes" (click)="selectService(service.name, c._id)">
                        <img [src]="service.icon">
                        <p>{{ c.name }}</p>
                    </div>
                </div>
                <!-- API -->
                <div class="service-data-list" *ngIf="service.name === 'APIs'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === a._id }" *ngFor="let a of apis" (click)="selectService(service.name, a._id)">
                        <img [src]="service.icon">
                        <p>{{ a.name }}</p>
                    </div>
                </div>
                <!-- Queue -->
                <!-- <div class="service-data-list" *ngIf="service.name === 'Queues'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === q._id }" *ngFor="let q of queues" (click)="selectService(service.name, q._id)">
                        <img [src]="service.icon">
                        <p>{{ q.name }}</p>
                    </div>
                </div> -->
                <!-- Scheduler -->
                <!-- <div class="service-data-list" *ngIf="service.name === 'Schedulers'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === s._id }" *ngFor="let s of schedulers" (click)="selectService(service.name, s._id)">
                        <img [src]="service.icon">
                        <p>{{ s.name }}</p>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="small-spacer tall">
            <p>Storage</p>
        </div>
        <div class="services">
            <div *ngFor="let service of services;">
                <div class="service" *ngIf="service.name === 'Storages'">
                    <p *ngIf="service.name === 'Storages'">Storage</p>
                    <p (click)="create(service.name)">New +</p>
                </div>
                <!-- Storage -->
                <div class="service-data-list" *ngIf="service.name === 'Storages'">
                    <div class="service-data" [ngClass]="{ 'active': view.windowId === s._id }" *ngFor="let s of storages" (click)="selectService(service.name, s._id)">
                        <img [src]="service.icon">
                        <p>{{ s.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- WebSocket -->
        <!-- <div class="small-spacer tall">
            <p>Messages</p>
        </div>
        <div class="services">
            <div *ngFor="let service of services;">
                <div class="service" *ngIf="service.name === 'WebSockets'">
                    <p *ngIf="service.name === 'WebSockets'">WebSockets</p>
                    <p (click)="create(service.name)">New +</p>
                </div>
                
                <div class="service-data-list" *ngIf="service.name === 'WebSockets'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === w._id }" *ngFor="let w of websockets" (click)="selectService(service.name, w._id)">
                        <img [src]="service.icon">
                        <p>{{ w.name }}</p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="small-spacer tall">
            <p>Functions</p>
        </div>
        <div class="services">
            <div *ngFor="let service of services;">
                <div class="service" *ngIf="service.name === 'Schemas' || service.name === 'Validators' || service.name === 'Functions' || service.name === 'Objects' || service.name === 'Arrays'">
                    <p>{{ service.name }}</p>
                    <p (click)="create(service.name)">New +</p>
                </div>
                <!-- Schema -->
                <div class="service-data-list" *ngIf="service.name === 'Schemas'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === s._id }" *ngFor="let s of schemas" (click)="selectService(service.name, s._id)">
                        <img [src]="service.icon">
                        <p>{{ s.name }}</p>
                    </div>
                </div>
                <!-- Validator -->
                <div class="service-data-list" *ngIf="service.name === 'Validators'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === v._id }" *ngFor="let v of validators" (click)="selectService(service.name, v._id)">
                        <img [src]="service.icon">
                        <p>{{ v.name }}</p>
                    </div>
                </div>
                <!-- Obj -->
                <div class="service-data-list" *ngIf="service.name === 'Objects'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === o._id }" *ngFor="let o of objs" (click)="selectService(service.name, o._id)">
                        <img [src]="service.icon">
                        <p>{{ o.name }}</p>
                    </div>
                </div>
                <!-- Arr -->
                <div class="service-data-list" *ngIf="service.name === 'Arrays'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === a._id }" *ngFor="let a of arrs" (click)="selectService(service.name, a._id)">
                        <img [src]="service.icon">
                        <p>{{ a.name }}</p>
                    </div>
                </div>
                <!-- Fn -->
                <div class="service-data-list" *ngIf="service.name === 'Functions'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === f._id }" *ngFor="let f of fns" (click)="selectService(service.name, f._id)">
                        <img [src]="service.icon">
                        <p>{{ f.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-spacer tall">
            <p>Configurations</p>
        </div>
        <div class="services">
            <div *ngFor="let service of services;">
                <div class="service" *ngIf="service.name === 'Requests' || service.name === 'Variables'">
                    <p>{{ service.name }}</p>
                    <p (click)="create(service.name)">New +</p>
                </div>
                <!-- Request -->
                <div class="service-data-list" *ngIf="service.name === 'Requests'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === r._id }" *ngFor="let r of requests" (click)="selectService(service.name, r._id)">
                        <img [src]="service.icon">
                        <p>{{ r.name }}</p>
                    </div>
                </div>
                <!-- Variable -->
                <div class="service-data-list" *ngIf="service.name === 'Variables'">
                    <div class="service-data" [ngClass]="{ 'active': view.serviceId === v._id }" *ngFor="let v of variables" (click)="selectService(service.name, v._id)">
                        <img [src]="service.icon">
                        <p>{{ v.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-button" *ngIf="!user" (click)="openLogin()">
        <img src="/user.png">
        <p>Login</p>
    </div>
    <div class="user-button" *ngIf="user" (click)="openSettings()">
        <img src="/user.png">
        <p>{{ user.name }}</p>
    </div>
</div>
