@import '../../styles/palette.component.scss';

.services-container {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;

    background-color: $surface-dark;
    border-right: 1px solid $surface-mixed-300;
}

.services-header {
    padding-top: 10px;
    padding-left: 10px;

    margin-bottom: 10px;
}

.services-header p {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.service {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 18px;

    margin: 5px 5px 0 5px;
    padding: 2px 5px 2px 5px;
}

.service p {
    font-size: 11px;
    font-weight: 600;
    color: white;
}

.service-data {
    display: flex;
    flex-direction: row;

    align-items: center;
    
    height: 18px;

    margin: 0 5px 0 5px;
    padding: 2px 5px 2px 15px;

    cursor: pointer;
}

.service-data.active,
.service-data:hover {
    background-color: $surface-mixed-200;
}

.service-data p {
    font-size: 11px;
    font-weight: 600;
    color: white;
}

.service-data img {
    width: 10px;
    height: 10px;

    margin-right: 5px;
}
