<div class="register-view">
    <div class="register-setup">
        <p>NPM Package</p>
        <div class="register-input-container">
            <div class="register-input">
                <input type="text" placeholder="Enter NPM package name" [(ngModel)]="register">
            </div>
        </div>
    </div>
    <div class="register-create">
        <p>Add to Deployment</p>
        <p (click)="addRegister()">Add Package</p>
    </div>
    <div class="register-list-item-container" *ngIf="registers">
        <div class="register-list-item" *ngFor="let register of registers">
            <a [href]="'https://www.npmjs.com/package/' + register.name" target="_blank"><p>{{ register.name }} - {{ register.version }}</p></a>
            <img src="/x.png" (click)="delete(register)">
        </div>
    </div>
</div>
