<div class="edit-workflow-container">
    <div class="edit-workflow">
        <div class="edit-workflow-header-container">
            <div class="edit-workflow-header">
                <p>Workflow</p>
            </div>
            <div class="edit-workflow-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-workflow-label">
            <p>Name</p>
        </div>
        <div class="edit-workflow-input-container">
            <div class="edit-workflow-input" *ngIf="workflow">
                <input type="text" placeholder="Enter collection name" [(ngModel)]="workflow.name">
            </div>
        </div>
        <div class="edit-workflow-label">
            <p>Workflow name can have up to 80 characters, may only contain alphanumeric characters and underscores (_), is case sensitive and must be unique.</p>
        </div>
        <div class="edit-workflow-label">
            <p>Deploy Version</p>
        </div>
        <div class="edit-workflow-select-container" *ngIf="workflow">
            <div class="edit-workflow-select">
                <div class="edit-workflow-select-button" (click)="toggleDropdown()">
                    <p>Version {{ findVersion(workflow.versionId)?.version }}</p>
                    <img src="/down.png">
                </div>
                <div class="edit-workflow-select-dropdown" *ngIf="dropdown">
                    <div class="edit-workflow-select-dropdown-button" *ngFor="let version of versions" (click)="selectVersion(version)">
                        <p>Version {{ version.version }}</p>
                        <span *ngIf="version._id === workflow.versionId">(selected version)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-workflow-buttons">
            <div class="edit-workflow-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-workflow-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-workflow-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-workflow-path-docs">
            <div class="edit-workflow-path-doc">
                <p>Workflows can only accept requests from a single API. If multiple APIs are set to the same workflow, the newest API will be selected.</p>
            </div>
        </div>
    </div>
</div>
