<div class="edit-workflow-container">
    <div class="edit-workflow">
        <div class="edit-workflow-header-container">
            <div class="edit-workflow-header">
                <p>Workflow</p>
            </div>
            <div class="edit-workflow-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>
        <div class="edit-workflow-label">
            <p>Name</p>
        </div>
        <div class="edit-workflow-input-container">
            <div class="edit-workflow-input" *ngIf="workflow">
                <input type="text" placeholder="Enter collection name" [(ngModel)]="workflow.name">
            </div>
        </div>
        <div class="edit-workflow-label">
            <p>Workflow name can have up to 80 characters, is case sensitive and may only contain alphanumeric characters and underscores (_).</p>
        </div>
        <div class="edit-workflow-buttons">
            <div class="edit-workflow-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-workflow-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
        <div class="edit-workflow-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-workflow-path-docs">
            <div class="edit-workflow-path-doc">
                <p>Workflows can be configured to accept requests from APIs, Queues and Schedulers. The same workflow can be used across multiple Queues and Schedulers, but only once per API.</p>
            </div>
        </div>
    </div>
</div>
