<div class="log-view">
    <div class="log-select">
        <p>Select deploy</p>
        <div class="log-select-container">
            <div class="log-select-button" (click)="toggleDropdown()" *ngIf="deploys">
                <p *ngIf="deploy">{{ deploy.date }}</p>
                <p *ngIf="!deploy">No deployments</p>
                <img src="/down.png">
            </div>
            <div class="log-select-dropdown" *ngIf="dropdown && deploys">
                <div class="log-select-dropdown-button" *ngFor="let deploy of deploys">
                    <p>{{ deploy.date }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="log-detail">
        <pre *ngFor="let log of logs">{{ log.info }}</pre>
    </div>
</div>
