<div class="key-view">
    <div class="key-setup">
        <p>API Key</p>
        <div class="key-input-container">
            <div class="key-input">
                <input type="text" placeholder="Enter api key name">
            </div>
        </div>
    </div>
    <div class="key-create">
        <p>Generate</p>
        <p>Generate API Key</p>
    </div>
    <div class="key-list-item-container">
        <div class="key-list-item">
            <p>API Key</p>
            <img src="/check.png">
        </div>
    </div>
</div>
