@import '../../styles/palette.component.scss';

.api-endpoint-list-container {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;

    background-color: $surface-mixed-100;
    border-right: 1px solid $surface-mixed-300;
}

.api-endpoint-list-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid $surface-mixed-300;
}

.api-endpoint-list-header p {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.api-endpoint {
    display: flex;
    flex-direction: row;

    align-items: center;
    
    height: 18px;

    margin: 5px;
    padding: 5px;

    border-radius: 5px;
    border: 1px solid $surface-mixed-200;

    cursor: pointer;
}

.api-endpoint:hover {
    background-color: $surface-mixed-200;
}

.api-endpoint p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.api-endpoint p.action {
    width: 35px;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.api-endpoint p.action.get {
    color: $primary-600;
}
