<div #logsViewContainer class="logs-view-container" [ngStyle]="{ height: workflowBarHeight + 'px', maxHeight: workflowBarHeight + 'px' }">
    <div class="logs-view-resize-bar" appResizableHeight [resizingElement]="logsViewContainer" [secondaryElement]="logsDetailContainer" [secondaryElementOffset]="88" [localStorageKey]="'workflowBarHeight'" [minHeight]="250" [maxHeight]="500" [reverse]="true"></div>
    <div class="logs-view">
        <div class="logs-view-header-container">
            <div class="logs-view-header">
                <p class="header">Deploy Logs</p>
            </div>
            <div class="spacer"></div>
            <div class="logs-view-tab-container">
                <div class="logs-view-tab" (click)="toggleDeployDropdown()">
                    <p *ngIf="!deploy">Select a deployment</p>
                    <p *ngIf="deploy">{{ deploy.ec2Id }}</p>
                    <img src="/down.png">
                </div>
                <div class="logs-view-tab-dropdown" *ngIf="deployDropdown">
                    <p *ngFor="let deploy of deploys" (click)="selectDeploy(deploy)">{{ deploy.ec2Id }}</p>
                </div>
            </div>
        </div>
        <div class="logs-view-logs-container">
            <div #logsDetailContainer class="logs-detail" [ngStyle]="{ height: logsViewHeight + 'px' }">
                <ng-content *ngIf="logs && deploy">
                    <pre *ngFor="let log of logStrings">{{ log }}</pre>
                </ng-content>
            </div>
        </div>
        <div class="logs-view-table-actions">
            <div class="logs-view-table-load">
                <img src="/refresh.png" *ngIf="instance && deploy" (click)="refresh()">

                <p class="color" *ngIf="instance && deploy">{{ status | capitalize }}</p>
                
                <p class="active" *ngIf="status === 'running' && instance && deploy && !socketService.socket" (click)="connectToSocket()">Connect to Live Updates</p>
                <p class="color" *ngIf="status === 'running' && instance && deploy && socketService.socket">Connected to Live Updates</p>
            </div>
         </div>
    </div>
</div>
