<div class="upgrade-view">
    <div class="upgrade-create">
        <div class="upgrade-create-description">
            <p>Users</p>
            <p>$0.00 per month</p>
        </div>
        <p class="upgrade-button">Activate User Pool</p>
    </div>
    <div class="upgrade-create">
        <div class="upgrade-create-description">
            <p>Queues</p>
            <p>$0.00 per month</p>
        </div>
        <p class="upgrade-button">Activate Queues</p>
    </div>
    <div class="upgrade-create">
        <div class="upgrade-create-description">
            <p>Scheduler</p>
            <p>$0.00 per month</p>
        </div>
        <p class="upgrade-button">Activate Scheduler</p>
    </div>
    <div class="upgrade-create">
        <div class="upgrade-create-description">
            <p>NPM Packages</p>
            <p>$0.00 per month</p>
        </div>
        <p class="upgrade-button">Activate Packages</p>
    </div>
    <div class="upgrade-create">
        <div class="upgrade-create-description">
            <p>WebSockets</p>
            <p>$0.00 per month</p>
        </div>
        <p class="upgrade-button">Activate WebSockets</p>
    </div>
</div>
