<div class="edit-request-container">
    <div class="edit-request">
        <div class="edit-request-header-container">
            <div class="edit-request-header">
                <p>Request</p>
            </div>
            <div class="edit-request-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>

        <app-request-edit [requestEditWide]="requestEditWide"></app-request-edit>

        <div class="edit-request-buttons">
            <div class="edit-request-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-request-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>
    </div>
</div>
