<div class="edit-request-container">
    <div class="edit-request">
        <div class="edit-request-header-container">
            <div class="edit-request-header">
                <p>Request</p>
            </div>
            <div class="edit-request-slim-button inline" (click)="delete()">
                <p>Delete</p>
            </div>
        </div>

        <app-request-edit [requestEditWide]="requestEditWide"></app-request-edit>

        <div class="edit-request-buttons">
            <div class="edit-request-cancel" (click)="cancel()">
                <p>Cancel</p>
            </div>
            <div class="edit-request-save" (click)="save()">
                <p>Save</p>
            </div>
        </div>

        <div class="edit-request-divider">
            <div class="divider"></div>
        </div>
        <div class="edit-request-path-docs">
            <div class="edit-request-path-doc">
                <p>Request configurations are required for making outside requests within a workflow. Do not use request configurations to trigger a workflow within a workflow. Instead, use the Trigger app.</p>
                <br>
                <p>Do not store sensitive information like API keys and passwords within a request configuration. Instead, use Variables to template values into the configuration.</p>
            </div>
        </div>
    </div>
</div>
